
//////////////////////////////////////////////////

// about

//////////////////////////////////////////////////

.about
{
	
	/***********************
	 module
	***********************/

	.main .section{
			

			@include break( sp ){
			}	

			&:not( :last-child ):after{
				content: " ";
				width: 2px;
				height: 50px;
				margin-top: 50px;
				margin-right: auto;
				margin-bottom: 50px;
				margin-left: auto;
				display: block;
				transition: easeInOutCirc(1s);
				transition-delay: 1s;
				background-image: linear-gradient(to bottom, transparent, transparent 50%, #fff 50%, #fff 100%), linear-gradient(to bottom, $green, $blue);
				background-size: 3px 10px, 3px 100%;		
				
				
				@include break( sp ){
					margin-bottom: 1px;
				}		
			
			}

		.wrap{
			max-width: 680px;
			box-sizing: content-box;
		}

		&_index{
			line-height: 1;
			margin-bottom: 45px;
			font-size: 4.66em;
			
			svg{
				font-family: $fontFamily_wf_bold;
			}
		
			
			@include break( sp ){
				font-size: 6em;
				margin-bottom: 30px;
				// font-size: 4.5em;
			}
		}

		&_content{
			line-height: 2;
			letter-spacing: 0.06em;
			font-size: 0.933em;
			
			@include break( sp ){
				font-size: 1em;
			}		
		}
	}



	/***********************
	 mainvisual
	***********************/

	/********** mainvisual **********/
	.pagevisual
	{

		.wrap{
			max-width: none;
		}

		&_img{
			opacity: 0.45;
			position: absolute;
			z-index: 0;
			top: -15%;
			right: 0;
			left: -15%;
			mix-blend-mode: hard-light;
			
			@include break( sp ){
				top: auto;
				left: 0;
				// width: auto;
				// max-width: none;
				// height: 100%;
			}			
		}
		//////// scroll down
		
		.icon-mouse{
			bottom: 5%;
			position: absolute;
			right: 0;
			left: 0;
			z-index: 3;
		}
	}


	/***********************
	 section
	***********************/

	/********** hi **********/
	.section-hi
	{
		// overflow: hidden;
		
		&,
		.section_index,
		.section_content{
			position: relative;
			z-index: 1;
		}
		.section_index
		{
			line-height: 1;
			position: relative;
			.handWrite{
				position: absolute;
				top: 0;
				right: 25px;
				transform: rotate(5deg);
				font-size: 0.6em;
				color: $green_black;
				font-family: $fontFamily_damion;
				
				@include break( sp ){
					top: 5px;
					right: 0;
					font-size: 0.5em;
				}			
			}
		}	

		.section_bg{
			max-width: 518px;
			position: absolute;
			z-index: 0;
			top: -12%;
			right: 0;
			
			@include break( sp ){
				max-width: 80%;
				top: -1%;
			}		
		}

		.button{
			display: block;
			text-align: right;
		}
	}



	/********** mind **********/

	.section-mind
	{
		.mindlist
		{
			margin-top: -50px;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;
			align-content: flex-start;
			
			@include break( sp ){
				margin-left: -2.5%;
				margin-right: -2.5%;
			}		
			&_mind{
				width: calc( 100% / 3 );
				margin-top: 50px;
				list-style: none;
				text-align: center;
				
				@include break( sp ){
					width: calc( 100% / 2.2 );
					margin-top: 30px;
				}
				// @include break( 320 ){
				// 	width: calc( 100% / 2.2 );
				// }
			}

			&_icon
			{
				line-height: 1;
				
				figcaption{
					margin-top: 1em;
					margin-bottom: 1em;
					display: block;
					font-size: 1.3em;
					font-family: $fontFamily_wf_exlight;
					font-style: italic;
					color: $green_black;
				}
			}

			&_description{
				font-size: 0.9em;
				font-feature-settings: 'palt';
				letter-spacing: 0.05em;
				
				@include break( sp ){
					font-size: 10px;
					letter-spacing: 0;
					font-weight: 500;
					
					br{
						display: none;
					}
				}		

			}
		}	
	}



	/********** skill **********/

	.section-skill
	{

		.section_index{
			margin-bottom: 30px;
		}
		.skill{
				max-width: 410px;
				margin-right: auto;
				margin-left: auto;
				
				&:not( :last-child ){
					margin-bottom: 40px;
				}
				
				&_index
				{
					line-height: 1;
					margin-bottom: 1.5em;
					position: relative;
					font-size: 1.2em;
					font-family: $fontFamily_damion;
					color: $green_black;
					&,
					i{
						transition: easeInOutCirc(0.5s);		
					}
					
					i{
						width: 100%;
						height: 1px;
						margin: auto;
						display: block;
						position: absolute;
						top: 0;
						bottom: 0;
						left: -105%;
						background-color: $green_black;
					}
				}

			&_content{
				display: flex;
				flex-direction: row;
				justify-content: space-between;
		
				@include break( 350,min ){
					flex-wrap: nowrap;
				}				
				@include break( 320,min ){
					flex-wrap: wrap;
				}
				
				@include break( sp ){
					justify-content: center;
				}
			}
			&_content_list{
				display: inline-block;
				
				// &:not( :last-child ){
				// 	margin-right: 30px;
				// }
				
				@include break( sp ){
					margin-left: 5px;
					margin-right: 5px;
				}			
			}

			&_icon
			{
				line-height: 1;
				img{
					box-sizing: border-box;
					border: solid 1px #ccc;			
				}
				
				figcaption{
					text-align: center;
					margin-top: 1em;
					margin-bottom: 1em;
					display: block;
					font-family: $fontFamily_wf_exlight;
					font-style: italic;
					color: $green_black;
				}
			}		
			
		}
	}
}