.main .section
{
    text-align: center;
}.main .section:not(:last-child):after
{display: block;width: 2px;height: 50px;margin-top: 50px;margin-right: auto;margin-bottom: 50px;margin-left: auto;

    content: ' ';transition: all 1s cubic-bezier(.785, .135, .15, .86) 0s;transition-delay: 1s;background-image: linear-gradient(to bottom, rgba(0,0,0,0),rgba(0,0,0,0) 50%,#fff 50%,#fff 100%),linear-gradient(to bottom, #0eff9e,#00d8fd);background-size: 3px 10px, 3px 100%;
}@media screen and (max-width: 580px)
{
    .main .section:not(:last-child):after
    {
        margin-bottom: 1px;
    }
}.main .section.inview:not(:last-child):after
{
    height: 50px;
}.main .section .wrap
{box-sizing: content-box;
    max-width: 680px;
}.main .section_index
{font-size: 4.66em;
    line-height: 1;margin-bottom: 45px;
}.main .section_index svg
{
    font-family: 'woodford bold';
}@media screen and (max-width: 580px)
{
    .main .section_index
    {
        font-size: 6em;margin-bottom: 30px;
    }
}.main .section_content
{font-size: .933em;
    line-height: 2;display: inline-block;text-align: left;letter-spacing: .06em;
}@media screen and (max-width: 580px)
{
    .main .section_content
    {
        font-size: 1em;
    }
}.main .section p:first-child
{
    margin-top: 0;
}.main .section p:last-child
{
    margin-bottom: 0;
}.pagevisual .wrap
{
    max-width: none;
}.pagevisual_img
{position: absolute;z-index: 0;top: 0;right: 18%;left: auto;

    width: auto;height: 100%;opacity: .45;mix-blend-mode: hard-light;
}@media screen and (max-width: 1366px)
{
    .pagevisual_img
    {top: auto;right: 5%;bottom: 0;

        width: 435px;
    }
}@media screen and (max-width: 580px)
{
    .pagevisual_img
    {right: auto;left: auto;

        width: auto;height: 90%;
    }
}.pagevisual .icon-mouse
{position: absolute;z-index: 3;right: 0;
    bottom: 5%;left: 0;
}
