@charset "utf-8";

//////////////////////////////////////////////////

// top

//////////////////////////////////////////////////

@import "compass";
@import "../common/scss/colors";
@import "../common/scss/variables";
@import "../common/scss/mixins";

%gradation{
	@include background-image( linear-gradient( to right, $green, $blue ) );	
}

html{
	color: #fff;
	font-size: 15px;
	
	@extend %gradation;
}




/***********************
 module
***********************/

.section{
	height: calc( 100vh - 75px );
	min-height: 700px;
	padding-bottom: 75px;
	position: relative;
	overflow: hidden;
	
	@extend %gradation;	

	.wrap{
		height: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	&_index{
		line-height: 1;
		margin-bottom: 0.5em;
		text-align: center;
		text-shadow: 0 0 5px rgba(#000, 0.05);		
		font-family: $fontFamily_wf_ultra;
		font-size: 8.33em;
		
		&,
		span{
			transition: easeInOutBack($s : 0.4s, $prop : all);		
		}
	
		span{
			transform: translateY( -0.18em ) scale(1.1);
			opacity: 0;
			display: inline-block;
	
			@for $i from 1 through 7 {
				&:nth-child( #{$i} ){
					$delay: 0.1 * $i;
					transition-delay: #{0.5 + $delay}s;
				}
			}
		}

		@at-root .inview & span{
			transform: translateY( 0 ) scale( 1 );
			opacity: 1;			
		}
	}



	&_article{
		max-width: 500px;
		width: 90%;
		margin-left: auto;
		margin-right: auto;
		position: relative;
		z-index: 1;
	}


	&_bg
	{
		position: absolute;
		z-index: 0;
		mix-blend-mode: hard-light;
	}


	&_footer{
		margin-top: 55px;
		text-align: center;
	}
}



/***********************
 mainvisual
***********************/

/********** mainvisual **********/
.mainvisual
{
	position: relative;
	@extend %gradation;
	
	.wrap{
		height: 100vh;
		min-height: 760px;
		position: relative;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		align-items: center;
		justify-content: flex-end;
	
	}


	&_copy{
		// position: absolute;
		// text-align: right;
		// position: relative;
		// z-index: 1;
		font-size: 10em;
		
		span{
			display: block;
		}
		
		&_sup{
			text-shadow: 0 0 5px rgba(#000, 0.35);
			font-size: 0.1375em;
			font-style: italic;
			font-family: $fontFamily_wf_exlight;
			
			span{
				line-height: 1;
				display: inline-block;
				color: #fff;
				position: relative;
				
				i{
					position: relative;
					z-index: 1;
				}
				
				&:before{
					content: " ";
					display: block;
					width: 100%;
					height: 100%;
					position: absolute;
					z-index: 0;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					background-color: $green_black;				
				}
			}
			
		}
		&_myname{

			line-height: 0.85;
			text-shadow: 0 0 5px rgba(#000, 0.15);
			font-family: $fontFamily_wf_ultra;
			.firstName{
				font-size: 1.195em;
			}
		}

		.handWrite{
			line-height: 1;
			margin-top: -1em;
			text-align: right;
			font-size: 0.35em;
			color: $green_black;
			font-family: $fontFamily_damion;
		}
	}
	
	////////// image 
	&_img{
		width: auto;
		height: 100%;
		margin: auto;
		margin-left: -15%;
		opacity: 0.45;
		position: absolute;
		z-index: 0;
		top: 0;
		right: 0;
		left: 0;
		mix-blend-mode: hard-light;
		
	}

	&_copy_sitename{
	}


	//////// scroll down
	
	.icon-mouse{
		bottom: 5%;
		position: absolute;
		right: 0;
		left: 0;
		z-index: 3;
	}
}


/***********************
 section
***********************/

/********** about **********/

.section-about{
	
	.section_article{
		// @include liquid( 490, 1080, true );
	}

	.section_bg{
		opacity: 0.4;
	}

	.section_bg-first{
		width: percentage( 494/1366 );
		top: -5%;
		left: -10%;
	}
	.section_bg-last{
		width: percentage( 224/1366 );
		top: percentage( 400/768 );
		right: 5%;
	}

}


/********** think **********/

.section-think{
	
	.section_article{
		margin-top: -10%;
		margin-left: 0;
		// @include liquid( 490, 1080, true );
	}



	.section_bg{
		opacity: 0.55;
	}

	.section_bg-first{
		width: percentage( 538/1366 );
		bottom: -20px;
		right: 10.4%;
	}

}



/********** works **********/

.section-works{
	
	.section_article{
		margin-right: 0;
		// @include liquid( 490, 1080, true );
	}

	.section_bg{
		transform: rotate(45deg);
	}

	.section_bg_panels{
		// width: 45%;
		transform-style: preserved-3d;
		perspective: 20px;
		transform: skew( -30deg );
	}
	.panel
	{
		width: 49.5%;
		margin: 0.25%;
		height: 0px;
		line-height: 1;
		padding-top: 18%;
		padding-bottom: 18%;
		overflow: hidden;
		box-sizing: border-box;
		border: solid 1px #fafafa;
		display: inline-table;
		float: left;
		font-family: $fontFamily_wf_bold;
		color: #fff;
		box-shadow:  5px 5px 0 #fbfbfb;
		@extend %gradation;

		opacity: 0;
		transform: translateX(-2em);
		
		&,
		&_catName{
			transition: easeInOutBack($s : 0.75s, $prop : all);				
		}
		
		&_catName{
			font-size: 2em;
			text-align: center;
			display: table-cell;
			vertical-align: middle;
		}

		@for $i from 1 through 4 {
			&:nth-child( #{$i} ){
				$delay: 0.08 * $i;
				transition-delay: #{$delay}s;
			}
		}		
		
	}
	&.inview .panel{
		transform: translateX( 0 );
		opacity: 1;			
	}		


	.section_bg-first{
		width: percentage( 538/1366 );
		bottom: 0;
		right: 10.4%;
	}

}



/********** contact **********/

.section-contact{
	min-height: 0;
	height: auto;
	padding-bottom: 0;
	background-image: none;

	.wrap{
		display: block;
	}
	.section_index{
		font-size: 6.66em;
	}
	.section_caption{
		margin-bottom: 2em;
	}
}
