//////////////////////////////////////////

//module

//include by style.scss

//////////////////////////////////////////



////////////////////

// header

////////////////////

/////// ヘッダー ラッパー
.siteHeader
{
	line-height: 1;
	padding-top: 20px;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 10;
	color: #fff;
	

	 > .wrap{
		width: 100%;
		display: table;
		.siteHeader_logo,
		.siteHeader_nav	{
			display: table-cell;
			vertical-align: middle;
		}
	}
	

	//////// media queries 
	@include break( sp ){
		
		 > .wrap{
			display: block;
			.siteHeader_logo,
			.siteHeader_nav	{
				display: block;
			}
		}


	} //max 580	
}



////////////////////

// footer

////////////////////

.siteFooter
{

	padding-top: 150px;

	@extend %gradation;
	

	.credit{	
		margin-top: 100px;
		padding-top: 1em;
		padding-bottom: 1em;
		
		////フッター上部
		&_top
		{
			margin-bottom: 1em;
			text-align: center;
			font-size: $small;
			
			li{
				margin-left: 1em;
				padding-left: 1em;
				display: inline-block;
				vertical-align: middle;
				border-left: solid 1px #fff;
			}
			li:first-child{
				margin-left: 0;
				padding-left: 0;
				border-left: none;
			}
		}
		
		//copyright
		.copyright{
			color: #fff;
			font-size: 0.65em;
			text-align: center;
		}


		//////// media queries 
		@include break( sp ){

			margin-top: 70px;
			&_top
			{
				li{
					margin-left: 0;
					padding-top: 0.5em;
					padding-bottom: 0.5em;
					padding-left: 0;
					display: block;
					border-left: 0;
					border-bottom: solid 1px #333;
				}
			}

		} //max 580
	}
}



////////////////////

// logo area

////////////////////

.siteHeader_logo{
	// display: inline-block;
	// float: left;
}



////////////////////

// inquiry

////////////////////

%line{
	line-height: 1;
	content: " ";
	background-color: #fff;	
}



.section-contact{
	min-height: 0;
	height: auto;
	padding-bottom: 0;

	.wrap{
		display: block;
	}
	.section_index{
		font-size: 6.66em;
	}
	.section_caption{
		margin-bottom: 2em;
	}

	@include break( sp ){

		padding-top: 60px;
		.section_index{
			font-size: 7vh;
		}		

	}	
}

.inquiry
{
	color: #fff;
	
	.wrap{
		max-width: 680px;
		padding-right: 30px;
		padding-left: 30px;
		box-sizing: border-box;	
	}
	

	@extend %gradation;
	
	.section_index{
		line-height: 1;
		margin-bottom: 0.5em;
		text-align: center;
		text-shadow: 0 0 5px rgba(#000, 0.05);		
		font-family: $fontFamily_wf_ultra;
		
		span{
			@extend %popspan;

		}
	}
	&_index{
		line-height: 1;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		
		&:after{
			width: 70%;
			height: 2px;				
			@extend %line;
		}
		&_text{
			flex-basis: 30%;
		}

	}

	&_content{
		padding-bottom: 40px;
		position: relative;
		border-bottom: solid 2px #fff;
		
		&:before,
		&:after{
			@extend %line;
			height: 100%;
			width: 2px;
			position: absolute;
			top: 0;
			bottom: 0;
		}
		//←
		&:before{
			left: 0;
		}
		//→
		&:after{
			height: calc( 100% + 30px );
			top: -28px;
			right: 0;
		}
	}

	/////// sns
	&_footer{
		margin-top: 45px;
	}


	.section_caption{
		text-align: center;
	}


}

.siteForm{
	padding-left: 55px;
	padding-right: 55px;
	
	input,
	select,
	textarea{
		width: 100%;
		background-color: transparent;
		border: none;
		color: #fff;
		-webkit-appearance:none;		
	}

	
	&_row{
		width: 100%;
		margin-top: 20px;
		table-layout: fixed;
		display: table;
	}

	&_row-button{
		text-align: center;
		margin-top: 30px;
	}


	&_label,
	&_input{
		display: table-cell;
		vertical-align: bottom;
	}
	&_label{
		width: 50px;
		padding-right: 20px;
		@extend .wfRegular;
	}

	&_input{
		width: 100%;
		border-bottom: solid 1px #fff;
	}

	&_button{
		
	}


}




////////////////////

// navigation

////////////////////

.siteHeader_nav
{
	float: right;
	clear: both;
	text-align: center;
	letter-spacing: 0.04em;
	font-family: $fontFamily_wf_light;

	li
	{
		vertical-align: middle;
		display: inline-block;
		list-style: none;
		text-align: center;
		color: #fff;
		
		&:last-child{
			margin-right: 0;
		}
	}

	li:not( .nav_contact ){
		&:after{
			margin-left: 15px;
			margin-right: 15px;
			content:  "/";
			display: inline-block;
			vertical-align: middle;
		}
		a{
			line-height: 1;
			// display: block;
			color: #fff;
			position: relative;
			
			&:before{
				content: " ";
				width: 0%;
				height: 3px;
				display: block;
				margin: auto;
				position: absolute;
				transition: transition();
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background-color: #fff;
			}

			@include break( tab, min ){
				@include mouseOver(){
					&:not( .current ):before{
						width: 100%;
					}
				}
				
			}
			
		}
	}

	li.current
	{
		a{
			pointer-events: none;
		}
		a:before{
			width: 100%;
		}
	}


	//////// media queries 
	@include break( sp ){
		.wrap{
		    width: 100%;
		    height: 100%;
		    display: flex;
			max-width: none;
			padding-top: 0%;
			padding-right: 0;
			padding-left: 0;
		    flex-direction: column;
		    justify-content: center;
		    align-items: center;
		    align-content: center;
		    position: fixed;
		    z-index: -10;
		    top: 0;
		    left: 0;		
			float: none;
			font-family: $fontFamily_wf_medium;
		}
		
		li
		{
			font-size: 1.5em;
			padding: 20px;
			display: block;
			opacity: 0;
			transform: translateX(10px);
			
			//ナビ開いてない状態
			a{
				z-index: -10;
			}
		}

		.button-nav
		{
			padding-right: 0;
			padding-left: 0;
 			a{
				width: auto;
				padding: 0.5em 1.5em;
				margin-left: auto;
				margin-right: auto;
			}			
		}

		@at-root .navOpen &{
			li{
				opacity: 1;
				transform: translateX(0px);

				transition: all 0.3s ease 0s;
			
				@for $i from 1 through 6 {

					&:nth-child( #{$i} ){
						$delay: 0.85 + (0.15 * $i);
						transition-delay: #{$delay}s;
					}
				}	

				//ナビ開いた状態
				a{
					z-index: 9;
				}						
			}
			
		}

	} //max 580

	
}

////( スマホ用 )開閉アイコン
.navToggle
{
	display: none;

	@include break( sp ){
		display: block;
	$buttonSize : 50px;
	$buttonTextColor: #fff;
	
	&_hitArea,
	&:after{
		width: $buttonSize;
		height: $buttonSize;
		line-height: 1;
		padding: 5px;
		box-sizing: border-box;
		display: block;
		position: fixed;
		bottom: 2%;
		right: 2%;
		cursor: pointer;
	}

	&_hitArea{
		z-index: 100;
	}

	&:after{
		content: " ";
		z-index: 8;
		transition: easeInOutCirc();
		border-radius: 100%;
		box-shadow: 0 4px 4px rgba( #000, 0.1), 0 0 10px rgba( #000, 0.3 );
		background-color: darken( $blue, 35 );		
	}
	
	
	//icon
	&_icon
	{

		height: 20px;
		top: 0;
		bottom: 0;
		
		//bar
		&,
		&:before , 
		&:after, 		
		&_lineCenter{
			width: 70%;
			margin: auto;
			display: block;
			position: absolute;
			right: 0;
			left: 0;			
		}

		&:before , 
		&:after, 		
		&_lineCenter{
			height: 1px;
			background-color: $buttonTextColor;		
			transition: easeInOutCirc(0.3s);		
		}		
		
		&:before , 
		&:after{
			content: " "; 
			transform-origin: 0;
		}
		//top
		&:before{
			top: 0;
		} 
		//center
		&_lineCenter{
			top: 0;
			bottom: 0;
		}
		//bottom
		&:after{
			bottom: 0;
		}		
	}

	@at-root .navOpen
	{
		overflow: hidden;
	
		.navToggle
		{

			&_hitArea{
				z-index: 11;
			}

			&:after{
				width: 100%;
				height: 100%;
				right: 0;
				bottom: 0;
				border-radius: 0;
				box-shadow: none;
				// @include background-image( linear-gradient( to right, $green, $blue ) );	
				
				background-color: darken( $blue, 15 );		
			}
			
			
			//icon
			&_icon
			{
				
				//bar
				//top
				&:before{
					transform: rotate( 45deg );
				} 
				//center
				&_lineCenter{
					width: 200%;
					opacity: 0;
				}
				//bottom
				&:after{
					transform: rotate( -45deg );
				}		
			}
		}	

	}		
	} // min 580
}








////////////////////

// button

////////////////////

%buttonDef{
	transition-duration: 0.3s;
	font-size: 1.35em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	box-shadow: 0 0 5px rgba( #000, 0.05);
	color: $green_black;
	border: none;
	background-color: #fefefe;		
}
.button
{
	line-height: 1;
	display: inline-block;
	// overflow: hidden;
	
	a{
		width: 150px;
		display: block;
		position: relative;
		// overflow: hidden;
	}


	&,
	a{
		@extend .wfSemi;
		transition: transition();
	}
}

.button-def{
	a{ 
		@extend %buttonDef;
		&:before/*,
		&:after*/{
			content: " ";
			display: block;
			width: 100%;
			height: 100%;
			margin: auto;
			box-sizing: border-box;
			position: absolute;
			top: 0%;
			right: 0;
			bottom: 0;
			left: 0;
			border: solid 1px #fff;
			transition: all 0.2s ease-in 0s;
		}
	
	}
 	@include mouseOver(){
		a{
			// color: #fff;
			// background-color: $green_black;	
			transform: scale(0.95);
		}
		a:before,
		a:after{
			transform: scale(1.5);
			
			opacity: 0;
		}			
	}
}

.button-nav{
	@extend .button-def;
	a{
		
		width: 105px;
		padding-top: 10px;
		padding-bottom: 10px;
		font-size: 1em;
	}
}

.button-form{
	
	@extend %buttonDef;		

	width: 150px;
	border: none;
	position: relative;
	
	&:before{
		content: " ";
			display: block;
			width: 0px;
			height: 0px;
			margin: auto;
			border-radius: 100%;
			position: absolute;
			top: 0%;
			right: 0;
			bottom: 0;
			left: 0;
			transition: all 0.3s ease-in 0s;
	}

	@include mouseOver(){
		color: #fff;
		background-color: $green_black;	

		&:before{
			width: 300px;
			height: 300px;
			opacity: 0;
		}			
	}	


}



////////////////////

// sns

////////////////////

.fixedSns{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 1em;
	text-align: center;
	color: #fff;
	writing-mode: vertical-lr;
	
	.fixedSns_sns,
	.fixedSns_index{
		line-height: 1;
		vertical-align: middle;
		display: inline-block;	
	}

	.fixedSns_index{
		margin-left: 0.5em;
		margin-bottom: 10px;
		@extend .wfLight;
	}

	.mySns
	{
		li{
			&:not( :last-child ){
				margin-right: 0px;
				margin-bottom: 1px;
			}
		}
	}

	@include break( sp ){
		display: none;
	}
}


.mySns
{
	line-height: 1;
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
	
	li
	{
		display: inline-block;
		

		[class*="icon"]:before{
			transition: transition();
		}
		.icon-twitter{
			@include mouseOver(){
				&:before{
					color: $twitter;
				}
			}
		}
		.icon-instagram{
			@include mouseOver(){
				&:before{
					color: pink;
				}
			}
			
		}

		a{
			@extend .wfLight;
			color: inherit;
		}
		
		&:not( :last-child ){
			margin-right: 20px;
		}
	}
}

////////////////////

// back to top

////////////////////

.backToTop{
	width: 50px;
	height: 50px;
	line-height: 1;
	margin: 0;
	padding: 0;
	bottom: 0;
	right: 10px;
	position: fixed;
	z-index: 99;
	cursor: pointer;
	display: none;

	
	transition: transform 0.5s;
	
	
	i{
		width: 30%;
		height: 30%;
		display: block;
		display: block;
		position: absolute;
	    margin: auto;
	    top: 25%;
	    right: 0;
	    bottom: 0;
	    left: 0;		
		transform: rotate(-45deg);
		border-top: solid 1px #fff;
		border-right: solid 1px #fff;
	}
	
	&.moving{
		@include rotate3d( 50, 1000, 500, 360deg, 500 );
	}

	@include break( sp ){
		bottom: 70px;
	}
}




////////////////////

// intro

////////////////////

.hello{
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.helloAfter{
	.myIntroduction	{
		opacity: 0;
	}
}

.myIntroduction
{
	width: 100%;
	height: 100%;
	margin: auto;
	position: fixed;
	z-index: 99;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: $basefontColor;
	// transition: all 2s ease 0.05s;	
	will-change: filter, opacity;
	background-color: #ffffff;


	@include break( sp ){
		.wrap{
			padding-left: 10%;
			padding-right: 10%;
		}
	}

	.noHello & {
		display: none;
	}

	[ class *= "text-" ]{
		opacity: 0;
		transform: translateY(-5px);
		will-change: opacity,transform;
		transition: all 1s ease 0.05s;
		
		&:last-of-type{
		}
	}
	@for $i from 3 through 6 {
		$delay: 0.3  + (0.7 * $i);
				
		.text-#{$i}{
			transition-delay: #{$delay}s;
		}
	}
	.text-1{
		transition-delay: 0.3s;		
	}
	.text-2{
		transition-delay: 0.45s;
	}
	

	.text-7{
		transition-delay: 6s;	
	}
	
	&_index{
		max-width: 332px;
		margin-right: auto;
		margin-left: auto;
		text-align: center;
		line-height: 1;
		
		.indexHello{
			line-height: 1;
			margin-top: 0;
			margin-bottom: 0px;
			font-size: 8em;	
			@extend .wfUltra;
			text-align: center;
			
			@at-root .usefirefox &{
				font-size: 3.5em;
			}
		}

		svg{
			max-width: 332px;
			overflow: visible;
			text-align: center;
		}
		.indexMyname{
			margin-top: 0;
			margin-bottom: 0.45em;
			font-size: 3.5em;
			color: $green_black;
			@extend .damion;
		}

		@include break( sp ){
			.indexHello{
				padding-left: 8%;
				padding-right: 8%;
			}
			.indexMyname{
				font-size: 2.25em;
			}			
		}		
	}

	&_content
	{
		font-size: 0.9em;
		letter-spacing: 0.05em;
		text-align: center;
		font-weight: 200;
		font-feature-settings: 'palt';
		
		@include break( sp ){
			text-align: left;
			font-size: 3.55vw;			
		}		
		
	}


	//////// エフェクト開始
	.letsTalk &{
		background-color: #f9f9f9;
		[ class *= "text-" ]{
			opacity: 1;
			transform: translateY(0px) scale(1);
		}		
	}	
}



////////////////////

// main visual

////////////////////


///////　下層
.pagevisual
{
	overflow: hidden;
	color: #fff;
	position: relative;
	@extend %gradation;
	
	.wrap{
		height: 100vh;
		min-height: 600px;
		position: relative;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		
		@include break( sp ){
			height: 60vh;
			min-height: 0;
		}
	}


	&_copy{
		position: relative;
		z-index: 1;
		font-size: 8.33em;
		
		@include break( sp ){
			font-size: 15vw;
		}	

		p{
			margin-top: 0;
			margin-bottom: 0;
		}	
		
		span{
			@extend %popspan;
		}
		@at-root .inview & span{
			transform: translateY( 0 ) scale( 1 );
			opacity: 1;			
		}		
		
		&_pagename{
			// line-height: 0.85;
			text-shadow: 0 0 5px rgba(#000, 0.15);
			font-family: $fontFamily_wf_ultra;
		}

		.handWrite
		{
			margin-top: -1.4em;
			transition: easeInOutBack($s : 0.4s, $prop : all);
			transition-delay: 1.5s;	
			transform:  scale(1.25);
			transform-origin: 50% 25%;
			opacity: 0;
			text-align: right;	
			font-size: 0.58em;
			
			&,
			svg text{
				line-height: 1;
				color: $green_black;
				font-family: $fontFamily_damion;
			}
			@at-root .inview &	{
				transform: scale( 1 );
				opacity: 1;			
			}		
			
			@include break( sp ){
			}
		}
	}
	
	////////// image 
	&_img{
		width: 100%;
		// max-width: none;
		// width: auto;
		// height: 100%;
		margin: auto;
		z-index: 0;
		top: 0;
		right: 0;
		left: 0;
			
		
	}


	//////// scroll down
	
	.icon-mouse{
		bottom: 5%;
		position: absolute;
		right: 0;
		left: 0;
		z-index: 3;
	}
}
