//////////////////////////////////////////

//module

//include by style.scss

//////////////////////////////////////////



////////////////////

// header

////////////////////

/////// ヘッダー ラッパー
.siteHeader
{
	line-height: 1;
	padding-top: 20px;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 10;
	

	 > .wrap{
		width: 100%;
		display: table;
		.siteHeader_logo,
		.siteHeader_nav	{
			display: table-cell;
			vertical-align: middle;
		}
	}
	

	//////// media queries 
	@include breakpoint( sp ){
		z-index: 3;

	} //max 580	
}



////////////////////

// footer

////////////////////

.siteFooter
{
	padding-top: 1em;
	padding-bottom: 1em;
	
	////フッター上部
	&_top
	{
		margin-bottom: 1em;
		text-align: center;
		font-size: $small;
		
		li{
			margin-left: 1em;
			padding-left: 1em;
			display: inline-block;
			vertical-align: middle;
			border-left: solid 1px #fff;
		}
		li:first-child{
			margin-left: 0;
			padding-left: 0;
			border-left: none;
		}
	}
	
	//copyright
	.copyright{
		font-size: 0.65em;
		text-align: center;
	}


	//////// media queries 
	@include breakpoint( sp ){

		&_top
		{
			li{
				margin-left: 0;
				padding-top: 0.5em;
				padding-bottom: 0.5em;
				padding-left: 0;
				display: block;
				border-left: 0;
				border-bottom: solid 1px #333;
			}
		}

	} //max 580
}



////////////////////

// logo area

////////////////////

.siteHeader_logo{
	// display: inline-block;
	// float: left;
}


////////////////////

// navigation

////////////////////

.siteHeader_nav
{
	float: right;
	clear: both;
	text-align: center;
	letter-spacing: 0.04em;
	font-family: $fontFamily_wf_light;

	li
	{
		vertical-align: middle;
		display: inline-block;
		list-style: none;
		text-align: center;
		
		&:last-child{
			margin-right: 0;
		}
	}

	li:not( :last-child ){
		&:after{
			margin-left: 15px;
			margin-right: 15px;
			content:  "/";
			display: inline-block;
			vertical-align: middle;
		}
	}
	
	a{
		line-height: 1;
		// display: block;
		color: inherit;
		position: relative;
		
		&:before{
			content: " ";
			width: 0%;
			height: 3px;
			display: block;
			margin: auto;
			position: absolute;
			transition: transition();
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-color: #fff;
		}

		@include breakpoint( tab, min ){
			@include mouseOver(){
				&:not( .current ):before{
					width: 100%;
				}
			}
			
		}
		
	}

	li.nav_contact{
		font-weight: bold;
		font-family: $fontFamily_wf_regular;

		a{
			width: 100px;
			padding-top: 5px;
			padding-bottom: 5px;
			display: inline-block;
			color: $green_black;
			background-color: #fff;
			
			&:after,
			&:before{
				display: none;
			}
		}

		@include mouseOver{
			a{
				color: #fff;
				background-color: $green_black;	
			}
		}
	}

	///////メニューが開いた状態
	.menuOpening &{
			opacity: 1;	
	}


	//////// media queries 
	@include breakpoint( sp ){
		opacity: 0;
		display: none;
		background-color: transparent;
		
		.wrap{
			width: auto;
			max-width: none;
			padding-right: 0;
			padding-left: 0;
		}
		
		li{
			margin-right: 0;
			display: block;
			position: relative;
			top: -2em;			
			border-bottom: solid 1px rgba( #fff, 0.5 );
			transition: all 0.3s ease 0s;
		}

		li a{
			margin-right: 0px;
			padding-bottom: 1em;
		}			
		
		&.open li{
			top: 0;
		}

	} //max 580

	
}

////( スマホ用 )開閉アイコン
.navToggle
{
	$buttonSize : 45px;
	$buttonTextColor: #fff;
	
	width: $buttonSize;
	height: $buttonSize;
	line-height: 1;
	padding: 5px;
	box-sizing: border-box;
	display: inline-block;
	position: absolute;
	top: 0;
	right: 0;
	text-align: center;
	font-size: 10px;
	cursor: pointer;
	color: $buttonTextColor;
	background-color: #000;
	
	//icon
	&_icon
	{

		height: 20px;
		margin-bottom: 5px;
		position: relative;
		
		//bar
		&:before , 
		&:after, 		
		&_lineCenter{
			width: 80%;
			height: 2px;
			margin: auto;
			display: block;
			position: absolute;
			right: 0;
			left: 0;			
			background-color: $buttonTextColor;		
			transition: easeInOutCirc(0.3s);		
		}
		
		&:before , 
		&:after{
			content: " "; 
		}
		//top
		&:before{
			top: 0;
		} 
		//center
		&_lineCenter{
			top: 0;
			bottom: 0;
		}
		//bottom
		&:after{
			bottom: 0;
		}		
	}

	///////media queries
	@include breakpoint( sp, min ){
		display: none;
	} // min 580
}


///////メニューが開いている状態 ( body )
.menuOpening
{
	/////アイコン
	.navToggle_icon
	{
		overflow: hidden;
		&_lineCenter{
			right: 100px;
			opacity: 0;
		}	
		&:before,
		&:after{
			width: 100%;
			transform-origin: 25% 25%;
		}		
		&:before{
			transform: rotate( 45deg );
		}
		&:after{			
			transform: rotate( -45deg );
		}
	}	
}



////////////////////

// menu open ( overlay )

////////////////////

////////メニューがオープンした時に、クラス「menuOpening」が付与される場合
body.menuOpening
{
	position: relative;
	$overlayBgColor : #000;
	
	.overlay{
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		position: fixed;
	}

	.overlay_close_icon:after,
	.overlay_close_icon:before{
		transition: easeInOutCirc();
	}

	////オーバーレイ
	.overlay{
		width: 100%;
		height: 100%;
		background-color: rgba( $overlayBgColor, 0.8 );
		z-index: 2;
	}	

	.overlay_close{
		width: 100%;
		padding-top: 5px;
		padding-bottom: 5px;
		// display: block;
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		cursor: pointer;
		text-align: center;
		color: #fff;
		background-color: rgba( $overlayBgColor, 0.2 );		
	}	

	.overlay_close_icon
	{
		width: 1.4em;
		height: 1.4em;
		margin-right: 0.5em;
		position: relative;
		display: inline-block;
		vertical-align: middle;
		
		//bar
		&:before,
		&:after
		{
			content: " ";
			width: 100%;
			height: 2px;
			margin: auto;
			position: absolute;
			right: 0;
			left: 0;
			top: 0;
			bottom: 0;
			transform-origin: 53% 50%;
			background-color: #fff;
			display: block;
		}
		&:before{
			transform: rotate( -45deg );
		}
		&:after{
			transform: rotate( 45deg );
		}		
	}
}




////////////////////

// button

////////////////////

.button
{
	display: inline-block;
	&,
	a{
		transition: trantision();
	}
}

.button-nav{
	
}



////////////////////

// back to top

////////////////////

.backToTop{
	width: 50px;
	height: 50px;
	line-height: 1;
	margin: 0;
	padding: 0;
	bottom: 0;
	right: 10px;
	position: fixed;
	z-index: 99;
	cursor: pointer;
	display: none;
	background-color: #333;
	
	transition: transform 0.5s;
	
	
	i{
		width: 30%;
		height: 30%;
		display: block;
		display: block;
		position: absolute;
	    margin: auto;
	    top: 25%;
	    right: 0;
	    bottom: 0;
	    left: 0;		
		transform: rotate(-45deg);
		border-top: solid 1px #fff;
		border-right: solid 1px #fff;
	}
	
	&.moving{
		@include rotate3d( 50, 1000, 500, 360deg, 500 );
	}
}