@charset "utf-8";

//////////////////////////////////////////////////

// top

//////////////////////////////////////////////////

@import "compass";
@import "../../common/scss/colors";
@import "../../common/scss/variables";
@import "../../common/scss/mixins";

.index{
	color: #fff;
	
	@extend %gradation;
	


/***********************
 module
***********************/

.section{
	height: calc( 100vh - 75px );
	min-height: 700px;
	padding-bottom: 75px;
	position: relative;
	overflow: hidden;
	
	@include break( 900 ){
		min-height: 500px;
	}

	@include break( sp ){
		height: 70vh;
		padding-bottom: 0px;
		min-height: 0;
	}	
	
	@extend %gradation;	

	.wrap{
		height: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;	
		
		@at-root .main & {
			@include break( sp ){
				padding-right: 5%;
				padding-left: 5%;
			}			
		}	
	}

	&_index{
		line-height: 1;
		margin-bottom: 0.5em;
		text-align: center;
		text-shadow: 0 0 5px rgba(#000, 0.05);		
		font-family: $fontFamily_wf_ultra;
		font-size: 8.33em;
		
		&,
		span{
			transition: easeInOutBack($s : 0.4s, $prop : all);		
		}
	
		span{
			@extend %popspan;
		}


		@include break( sp ){
			font-size: 4.5em;
		}


	}
	&.inview .section_index span{
		transform: translateY( 0 ) scale( 1 );
		opacity: 1;			
	}



	&_article{
		max-width: 500px;
		width: 90%;
		margin-left: auto;
		margin-right: auto;
		position: relative;
		z-index: 1;
		text-align: center;
	}

	&_content{
		padding-left: 2em;
		padding-right: 2em;
		letter-spacing: 0.0525em;
		text-shadow: 0 0 5px rgba(#000, 0.1);
	}


	&_bg
	{
		position: absolute;
		z-index: 0;
		mix-blend-mode: hard-light;
	}


	&_footer{
		margin-top: 55px;
		text-align: center;
	}
}



/***********************
 mainvisual
***********************/

/********** mainvisual **********/
.mainvisual
{
	overflow: hidden;
	position: relative;
	@extend %gradation;
	
	.wrap{
		height: 100vh;
		min-height: 760px;
		position: relative;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		align-items: center;
		// justify-content: center;
		justify-content: flex-end;
		
		@include break( sp ){
			min-height: 0;
		}
	}


	&_copy{
		position: relative;
		z-index: 1;
		font-size: 12em;
		
		@include break( sp ){
			font-size: 23vw;
		}		
		
		span{
			display: block;
		}
		
		&_sup{
			margin-left: 0.5em;
			letter-spacing: 0.37em;
			text-shadow: 0 0 5px rgba(#000, 0.15);
			font-size: 0.12em;
			font-style: italic;
			font-family: $fontFamily_wf_thin;
			
			span{
				line-height: 1;
				display: inline-block;
				color: #fff;
				position: relative;
				
				i{
					position: relative;
					z-index: 1;
				}
				
				&:before{
					content: " ";
					display: block;
					width: 0%;
					height: 100%;
					position: absolute;
					z-index: 0;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					transition: easeInOutCirc();
					transition-delay: .75s;
					background-color: $green_deep;				
				}
			}
			@include break( sp ){
				font-size: 0.14em;
				letter-spacing: 0.25em;
			}				
			
		}
		&_myname
		{
			line-height: 0.85;
			text-shadow: 0 0 5px rgba(#000, 0.05);
			font-family: $fontFamily_wf_ultra;
			.firstName{
				font-size: 1.195em;
			}
		}

		.handWrite
		{

			margin-top: -1em;
			margin-right: 0.75em;
			text-align: right;				
			color: $green_black;
			font-size: 0.4em;
			opacity: 0;
			transform: translateY(10px);
			transition: all 0.5s ease 1.25s;		

			&,
			svg text{
				line-height: 1;
				// color: $green_deep;
				font-family: $fontFamily_damion;
			}
			svg text{
				fill: $green_black;
				// font-size: 0.35em;
			}

			svg{
				width: 510px;
				height: auto;
				overflow: visible;
			}

			
			@include break( sp ){
				margin-right: 0.35em;
				line-height: inherit;

				svg{
					width: 100%;
					font-size: 45vw;
					// font-size: 1.5em;				
				}
			}
		}
	}

	@at-root .loaded{
		 .mainvisual_copy_sup span:before{
			width: 100%;
		}	
		.mainvisual .handWrite{
			opacity: 1;
			transform: translateY(0px);
		}			
	}
	
	////////// image 
	&_img{
		max-width: none;
		width: auto;
		height: 100%;
		margin: auto;
		margin-left: -1%;
		opacity: 0.45;
		position: absolute;
		z-index: 0;
		top: 0;
		right: 0;
		left: 0;
		mix-blend-mode: hard-light;
		
		@include break( 1366 ){
			margin-left: -5%;
		}
		@include break( sp ){
			height: 95%;
			margin-left: -30%;
			top: auto;
			bottom: 0;
		}		
		
	}

	&_copy_sitename{
	}


	//////// scroll down
	
	.icon-mouse{
		bottom: 5%;
		position: absolute;
		right: 0;
		left: 0;
		z-index: 3;
	}
}


/***********************
 section
***********************/

/********** about **********/

.section-about{
	
	.section_article{
		// @include liquid( 490, 1080, true );
	}

	.section_bg{
		opacity: 0.4;
	}

	.section_bg-first{
		width: percentage( 683/1366 );
		top: -5%;
		left: -10%;
	}
	.section_bg-last{
		width: percentage( 225/1366 );
		top: percentage( 506/768 );
		right: 5%;
	}


	@include break( tab ){
		.section_bg-last{
			width: percentage( 325/1366 );
			top: percentage( 600/768 );
		}
		
	}

	@include break( sp ){
		height: 85vh;
		margin-bottom: -5vh;
		.section_bg-first{
			width: percentage( 783/1366 );
		}
	}	

}


/********** think **********/

.section-think{
	
	.section_article{
		margin-top: -10%;
		margin-left: 0;
		// @include liquid( 490, 1080, true );
	}



	.section_bg{
		opacity: 0.55;
	}

	.section_bg-first{
		width: auto;
		height: 100%;

		bottom: -20px;
		right: 10.4%;
	
		@include break( 1366 ){
			width: percentage( 538/1366 );
			height: auto;
		}
	}


	@include break( sp ){
		padding-bottom: 40px;
		.section_article{
			margin-top: 0%;	
			margin-left: auto;	
		}
		.section_bg-first{
			width: percentage( 638/1366 );
			bottom: -20px;
			right: 0.4%;
		}		
	}		

}



/********** works **********/

.section-works{

	min-height: 550px;
	
	.section_article{
		margin-top: 15%;
		margin-right: 0;
		align-self: flex-start;
		// @include liquid( 490, 1080, true );
		
		@include break( 1366 ){
			margin-top: 5%;
		}		
		
		@include break( sp ){
			margin-right: auto;
			margin-top: 10vh;
		}
	}

	.section_bg{
		width: 38%;
		bottom: 0%;
		left: 10%;
		
		&_skewWrapper{
			transform: translate(30%, 50px) rotate(45deg) ;		
		}

		@include break( 1366 ){
			width: 35%;
		}		

		@include break( sp ){
			&_skewWrapper{
				transform: translate(30%) rotate(45deg) ;		
			}			
		}
	}

	.section_bg_panels{
		// width: 45%;
		transform-style: preserved-3d;
		perspective: 20px;
		transform: skew( -30deg );
	}
	.panel
	{
		width: 49.5%;
		margin: 0.25%;
		height: 0px;
		line-height: 1;
		padding-top: 18%;
		padding-bottom: 18%;
		overflow: hidden;
		box-sizing: border-box;
		border: solid 1px #fafafa;
		display: inline-table;
		float: left;
		font-family: $fontFamily_wf_bold;
		color: #fff;
		box-shadow:  5px 5px 0 #fbfbfb, 10px 8px 0 #eaeaea;
		@extend %gradation;

		opacity: 0;
		transform: translateX(-2em);
		
		&,
		&_catName{
			transition: easeInOutBack($s : 0.75s, $prop : all);				
		}
		
		&_catName{
			font-size: 3em;
			text-align: center;
			display: table-cell;
			vertical-align: middle;
			
			@include break( 1366 ){
				font-size: 2em;
			}			
		}

		@for $i from 1 through 4 {
			&:nth-child( #{$i} ){
				$delay: 0.1 * $i;
				transition-delay: #{$delay}s;
			}
		}		
		
	}
	&.inview .panel{
		transform: translateX( 0 );
		opacity: 1;			
	}		


	@include break( sp ){

		.section_bg{
			width: auto;
			bottom: 3%;
		}

		.panel
			{
				padding-top: 12%;
				padding-bottom: 12%;

				&_catName{
					font-size: 1.25em;
				}

				@for $i from 1 through 4 {
					&:nth-child( #{$i} ){
						$delay: 0.4 + (0.1 * $i);
						transition-delay: #{$delay}s;
					}
				}		
				
			}	
		.section_bg-first{
			bottom: 3%;
		}

	}

}



/********** contact **********/

.section-contact{
	min-height: 0;
	height: auto;
	padding-bottom: 0;
	background-image: none;

	.wrap{
		display: block;
	}
	.section_index{
		font-size: 6.66em;
	}
	.section_caption{
		margin-bottom: 2em;
	}

	@include break( sp ){

		padding-top: 60px;
		
		
		.section_index{
			font-size: 7vh;
		}		

	}	
}
.siteFooter{
	padding-top: 0;
}

	
}


@import "about/_style-biography";
@import "about/_style";
@import "think/_style";
@import "works/_style";
@import "thankyou/_style";


