@charset 'UTF-8';
@import 'https://fonts.googleapis.com/earlyaccess/notosansjapanese.css';
@import 'https://fonts.googleapis.com/css?family=Damion';
@font-face
{
    font-family: 'woodford ultra';
    font-weight: normal; 
    font-style: normal;

    src: url('../fonts/woodford/Ultra/WoodfordBournePRO-Ultra.eot');
    src: url('../fonts/woodford/Ultra/WoodfordBournePRO-Ultra.eot?#iefix') format('embedded-opentype'), url('../fonts/woodford/Ultra/WoodfordBournePRO-Ultra.woff') format('woff'), url('../fonts/woodford/Ultra/WoodfordBournePRO-Ultra.ttf') format('truetype'), url('../fonts/woodford/Ultra/WoodfordBournePRO-Ultra.svg#e33779abaa52bf778efe7c6765d3aa92') format('svg');
}
@font-face
{
    font-family: 'woodford black';
    font-weight: normal; 
    font-style: normal;

    src: url('../fonts/woodford/Black/WoodfordBournePRO-Black.eot');
    src: url('../fonts/woodford/Black/WoodfordBournePRO-Black.eot?#iefix') format('embedded-opentype'), url('../fonts/woodford/Black/WoodfordBournePRO-Black.woff') format('woff'), url('../fonts/woodford/Black/WoodfordBournePRO-Black.ttf') format('truetype'), url('../fonts/woodford/Black/WoodfordBournePRO-Black.svg#f8903037c4efd0bd144a157b5653d1d8') format('svg');
}
@font-face
{
    font-family: 'woodford semi';
    font-weight: normal; 
    font-style: normal;

    src: url('../fonts/woodford/Semibold/WoodfordBournePRO-SemiBold.eot');
    src: url('../fonts/woodford/Semibold/WoodfordBournePRO-SemiBold.eot?#iefix') format('embedded-opentype'), url('../fonts/woodford/Semibold/WoodfordBournePRO-SemiBold.woff') format('woff'), url('../fonts/woodford/Semibold/WoodfordBournePRO-SemiBold.ttf') format('truetype'), url('../fonts/woodford/Semibold/WoodfordBournePRO-SemiBold.svg#41c783441c8d6e7139c5ab0d4d0ebdf7') format('svg');
}
@font-face
{
    font-family: 'woodford bold';
    font-weight: normal; 
    font-style: normal;

    src: url('../fonts/woodford/Semibold/WoodfordBournePRO-Bold.eot');
    src: url('../fonts/woodford/bold/WoodfordBournePRO-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/woodford/bold/WoodfordBournePRO-Bold.woff') format('woff'), url('../fonts/woodford/bold/WoodfordBournePRO-Bold.ttf') format('truetype'), url('../fonts/woodford/bold/WoodfordBournePRO-Bold.svg#41c783441c8d6e7139c5ab0d4d0ebdf7') format('svg');
}
@font-face
{
    font-family: 'woodford medium';
    font-weight: normal; 
    font-style: normal;

    src: url('../fonts/woodford/Medium/WoodfordBournePRO-Medium.eot');
    src: url('../fonts/woodford/Medium/WoodfordBournePRO-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/woodford/Medium/WoodfordBournePRO-Medium.woff') format('woff'), url('../fonts/woodford/Medium/WoodfordBournePRO-Medium.ttf') format('truetype'), url('../fonts/woodford/Medium/WoodfordBournePRO-Regular.svg#9def0a3348b8aae467fd22910b83fc79') format('svg');
}
@font-face
{
    font-family: 'woodford regular';
    font-weight: normal; 
    font-style: normal;

    src: url('../fonts/woodford/Regular/WoodfordBournePRO-Regular.eot');
    src: url('../fonts/woodford/Regular/WoodfordBournePRO-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/woodford/Regular/WoodfordBournePRO-Regular.woff') format('woff'), url('../fonts/woodford/Regular/WoodfordBournePRO-Regular.ttf') format('truetype'), url('../fonts/woodford/Regular/WoodfordBournePRO-Regular.svg#683fa0ccaf91887de6a6b5f515413350') format('svg');
}
@font-face
{
    font-family: 'woodford light';
    font-weight: normal; 
    font-style: normal;

    src: url('../fonts/woodford/Light/WoodfordBournePRO-Light.eot');
    src: url('../fonts/woodford/Light/WoodfordBournePRO-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/woodford/Light/WoodfordBournePRO-Light.woff') format('woff'), url('../fonts/woodford/Light/WoodfordBournePRO-Light.ttf') format('truetype'), url('../fonts/woodford/Light/WoodfordBournePRO-Light.svg#232fd019ed526095b758e656dbf94787') format('svg');
}
@font-face
{
    font-family: 'woodford exlight';
    font-weight: normal; 
    font-style: normal;

    src: url('../fonts/woodford/Extralight/WoodfordBournePRO-ExtraLight.eot');
    src: url('../fonts/woodford/Extralight/WoodfordBournePRO-ExtraLight.eot?#iefix') format('embedded-opentype'), url('../fonts/woodford/Extralight/WoodfordBournePRO-ExtraLight.woff') format('woff'), url('../fonts/woodford/Extralight/WoodfordBournePRO-ExtraLight.ttf') format('truetype'), url('../fonts/woodford/Extralight/WoodfordBournePRO-ExtraLight.svg#b8a2de952566267567abb658d2358ba3') format('svg');
}
@-webkit-keyframes mouseScroll
{
    0%
    {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }
    70%
    {
        opacity: 1;
    }
    100%
    {
        -webkit-transform: translateY(5px);
                transform: translateY(5px);

        opacity: 0;
    }
}
@keyframes mouseScroll
{
    0%
    {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }
    70%
    {
        opacity: 1;
    }
    100%
    {
        -webkit-transform: translateY(5px);
                transform: translateY(5px);

        opacity: 0;
    }
}
::-moz-selection
{
    background-color: rgba(0, 216, 253, .3);
}
::selection
{
    background-color: rgba(0, 216, 253, .3);
}

html
{
    font-family: 'Noto Sans Japanese', '游ゴシック', YuGothic, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, sans-serif;
    font-size: 15px;
    font-weight: 200;
    line-height: 1.75;

    position: relative;

    color: #3a3a3a; 

    -webkit-text-size-adjust: 100%;
}

body
{
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
}

h1,
h2,
h3,
h4,
h5,
h6
{
    font-size: inherit; 
    font-weight: inherit;

    margin-top: 0;
    margin-bottom: 0;
}

ul
{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;

    list-style-position: inside;
}

dl
{
    padding-left: 0;
}

dd
{
    padding-left: 0;
}

figure
{
    margin: 0;
}

img,
iframe,
object
{
    line-height: 1;

    max-width: 100%;
    height: auto;
}

input,
textarea
{
    outline: none;
}
input:focus,
input:active,
textarea:focus,
textarea:active
{
    border: none;
}

a
{
    transition: all .5s ease 0s; 
    text-decoration: none;

    color: #12aaaf;
    outline: none;
}
a,
a img
{
    border: none;
}
a button
{
    padding: 0;

    border: none; 
    background: 0;
}
a:hover,
a:active,
a:focus
{
    color: #0b676a;
}
a img
{
    transition: all .5s ease 0s;
}
a img:hover,
a img:active,
a img:focus
{
    opacity: .87; 

    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=87);
}

button
{
    cursor: pointer;

    outline: none;
}

.contain,
.inner
{
    box-sizing: border-box; 
    max-width: 976px;
    margin-right: auto;
    margin-left: auto;
}

.wrap
{
    box-sizing: border-box; 
    max-width: 1080px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 30px;
    padding-left: 30px;
}
@media screen and (max-width: 1200px)
{
    .wrap
    {
        padding-right: 25px; 
        padding-left: 25px;
    }
}
@media screen and (max-width: 580px)
{
    .wrap
    {
        padding-right: 15px; 
        padding-left: 15px;
    }
}

.clearfix
{
    *zoom: 1;
    *zoom: 1;
}
.clearfix:after
{
    display: table;
    clear: both; 

    content: '';
}

.spShow
{
    display: none;
}

@media screen and (max-width: 580px)
{
    .spHide
    {
        display: none;
    }

    .spShow
    {
        display: inherit;
    }
}
.tabShow
{
    display: none;
}

@media screen and (max-width: 780px)
{
    .tabHide
    {
        display: none;
    }

    .tabShow
    {
        display: inherit;
    }
}
.xxlarge
{
    font-size: 2.8em;
}

.xlarge
{
    font-size: 2em;
}

.large
{
    font-size: 1.414em;
}

.small
{
    font-size: .75em;
}

.wfBlack
{
    font-family: 'woodford black';
}

.wfUltra,
.myIntroduction_index .indexHello
{
    font-family: 'woodford ultra';
}

.wfSemi,
.button,
.button a
{
    font-family: 'woodford semi';
}

.wfBold
{
    font-family: 'woodford bold';
}

.wfRegular,
.siteForm_label
{
    font-family: 'woodford regular';
}

.wfMedium
{
    font-family: 'woodford medium';
}

.wfLight,
.fixedSns .fixedSns_index,
.mySns li a
{
    font-family: 'woodford light';
}

.damion,
.myIntroduction_index .indexMyname
{
    font-family: 'Damion', cursive;
}

.icon-twitter:before
{
    font-family: fontawesome;
    font-size: 22px;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    line-height: 1;

    position: relative;
    top: 0;
    left: 0;

    display: inline-block;

    margin-right: 0;

    content: '';
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    vertical-align: middle;
    text-transform: none;

    color: inherit;

    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
html.ie8 .icon-twitter:before
{
    font-family: inherit; 

    content: '>';
}

.icon-facebook:before
{
    font-family: fontawesome;
    font-size: 22px;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    line-height: 1;

    position: relative;
    top: 0;
    left: 0;

    display: inline-block;

    margin-right: 0;

    content: '';
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    vertical-align: middle;
    text-transform: none;

    color: inherit;

    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
html.ie8 .icon-facebook:before
{
    font-family: inherit; 

    content: '>';
}

.icon-instagram:before
{
    font-family: fontawesome;
    font-size: 22px;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    line-height: 1;

    position: relative;
    top: 0;
    left: 0;

    display: inline-block;

    margin-right: 0;

    content: '';
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    vertical-align: middle;
    text-transform: none;

    color: inherit;

    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
html.ie8 .icon-instagram:before
{
    font-family: inherit; 

    content: '>';
}

.icon-mouse
{
    position: relative;

    display: block;

    width: 17px;
    height: 27px;
    margin-right: auto;
    margin-left: auto;

    border: solid 1px #fff;
    border-radius: 5px;
}
.icon-mouse:after
{
    position: absolute;
    top: 5px;
    right: 0;
    left: 0;

    display: block;

    width: 3px;
    height: 3px;
    margin-right: auto;
    margin-left: auto;

    content: ' ';
    -webkit-animation: mouseScroll 2s ease-in-out .8s infinite normal forwards;
            animation: mouseScroll 2s ease-in-out .8s infinite normal forwards;

    border-radius: 100%;
    background-color: #fff;
}

.siteHeader
{
    line-height: 1;

    position: fixed;
    z-index: 10; 
    top: 0;
    right: 0;
    left: 0;

    padding-top: 20px;
}
.siteHeader > .wrap
{
    display: table; 

    width: 100%;
}
.siteHeader > .wrap .siteHeader_logo,
.siteHeader > .wrap .siteHeader_nav
{
    display: table-cell;

    vertical-align: middle;
}
@media screen and (max-width: 580px)
{
    .siteHeader
    {
        z-index: 3;
    }
}

.siteFooter
{
    margin-top: 100px;
    padding-top: 1em;
    padding-bottom: 1em;
}
.siteFooter_top
{
    font-size: .75em; 

    margin-bottom: 1em;

    text-align: center;
}
.siteFooter_top li
{
    display: inline-block;

    margin-left: 1em;
    padding-left: 1em;

    vertical-align: middle;

    border-left: solid 1px #fff;
}
.siteFooter_top li:first-child
{
    margin-left: 0;
    padding-left: 0;

    border-left: none;
}
.siteFooter .copyright
{
    font-size: .65em;

    text-align: center;
}
@media screen and (max-width: 580px)
{
    .siteFooter_top li
    {
        display: block;

        margin-left: 0;
        padding-top: .5em;
        padding-bottom: .5em;
        padding-left: 0;

        border-bottom: solid 1px #333; 
        border-left: 0;
    }
}

.inquiry_index:after,
.inquiry_content:before,
.inquiry_content:after
{
    line-height: 1;

    content: ' ';

    background-color: #fff;
}

.inquiry
{
    max-width: 680px;
    margin-right: auto; 
    margin-left: auto;
}
.inquiry_index
{
    line-height: 1;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: row;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.inquiry_index:after
{
    width: 70%;
    height: 2px;
}
.inquiry_index_text
{
    -ms-flex-preferred-size: 30%;
    flex-basis: 30%;
}
.inquiry_content
{
    position: relative;

    padding-bottom: 40px;

    border-bottom: solid 2px #fff;
}
.inquiry_content:before,
.inquiry_content:after
{
    position: absolute;
    top: 0;
    bottom: 0; 

    width: 2px;
    height: 100%;
}
.inquiry_content:before
{
    left: 0;
}
.inquiry_content:after
{
    top: -28px;
    right: 0; 

    height: calc( 100% + 30px );
}
.inquiry_footer
{
    margin-top: 45px;
}
.inquiry .section_caption
{
    text-align: center;
}

.siteForm
{
    padding-right: 55px; 
    padding-left: 55px;
}
.siteForm input,
.siteForm select,
.siteForm textarea
{
    width: 100%;

    color: #fff;
    border: none;
    background-color: transparent;

    -webkit-appearance: none;
}
.siteForm_row
{
    display: table; 

    width: 100%;
    margin-top: 20px;

    table-layout: fixed;
}
.siteForm_row-button
{
    margin-top: 30px; 

    text-align: center;
}
.siteForm_label,
.siteForm_input
{
    display: table-cell;

    vertical-align: bottom;
}
.siteForm_label
{
    width: 50px;
    padding-right: 20px;
}
.siteForm_input
{
    width: 100%;

    border-bottom: solid 1px #fff;
}

.siteHeader_nav
{
    font-family: 'woodford light'; 

    float: right;
    clear: both;

    text-align: center;
    letter-spacing: .04em;
}
.siteHeader_nav li
{
    display: inline-block;

    list-style: none;

    text-align: center; 
    vertical-align: middle;
}
.siteHeader_nav li:last-child
{
    margin-right: 0;
}
.siteHeader_nav li:not(.nav_contact):after
{
    display: inline-block;

    margin-right: 15px;
    margin-left: 15px;

    content: '/';
    vertical-align: middle;
}
.siteHeader_nav li:not(.nav_contact) a
{
    line-height: 1;

    position: relative; 

    color: inherit;
}
.siteHeader_nav li:not(.nav_contact) a:before
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: block;

    width: 0;
    height: 3px;
    margin: auto;

    content: ' ';
    transition: all .3s cubic-bezier(.785, .135, .15, .86) 0s;

    background-color: #fff;
}
@media screen and (min-width: 780px)
{
    .siteHeader_nav li:not(.nav_contact) a
    {
        transition: all .5s ease 0s;
    }
    .siteHeader_nav li:not(.nav_contact) a:hover:not(.current):before,
    .siteHeader_nav li:not(.nav_contact) a:active:not(.current):before,
    .siteHeader_nav li:not(.nav_contact) a:focus:not(.current):before
    {
        width: 100%;
    }
}
.menuOpening .siteHeader_nav
{
    opacity: 1;
}
@media screen and (max-width: 580px)
{
    .siteHeader_nav
    {
        display: none;

        opacity: 0;
        background-color: transparent;
    }
    .siteHeader_nav .wrap
    {
        width: auto;
        max-width: none;
        padding-right: 0;
        padding-left: 0;
    }
    .siteHeader_nav li
    {
        position: relative;
        top: -2em;

        display: block;

        margin-right: 0;

        transition: all .3s ease 0s; 

        border-bottom: solid 1px rgba(255, 255, 255, .5);
    }
    .siteHeader_nav li a
    {
        margin-right: 0;
        padding-bottom: 1em;
    }
    .siteHeader_nav.open li
    {
        top: 0;
    }
}

.navToggle
{
    font-size: 10px;
    line-height: 1;

    position: absolute;
    top: 0;
    right: 0;

    display: inline-block;

    box-sizing: border-box;
    width: 45px;
    height: 45px;
    padding: 5px;

    cursor: pointer;
    text-align: center;

    color: #fff;
    background-color: #000;
}
.navToggle_icon
{
    position: relative; 

    height: 20px;
    margin-bottom: 5px;
}
.navToggle_icon:before,
.navToggle_icon:after,
.navToggle_icon_lineCenter
{
    position: absolute;
    right: 0;
    left: 0;

    display: block;

    width: 80%;
    height: 2px;
    margin: auto;

    transition: all .3s cubic-bezier(.785, .135, .15, .86) 0s; 

    background-color: #fff;
}
.navToggle_icon:before,
.navToggle_icon:after
{
    content: ' ';
}
.navToggle_icon:before
{
    top: 0;
}
.navToggle_icon_lineCenter
{
    top: 0;
    bottom: 0;
}
.navToggle_icon:after
{
    bottom: 0;
}
@media screen and (min-width: 580px)
{
    .navToggle
    {
        display: none;
    }
}

.menuOpening .navToggle_icon
{
    overflow: hidden;
}
.menuOpening .navToggle_icon_lineCenter
{
    right: 100px;

    opacity: 0;
}
.menuOpening .navToggle_icon:before,
.menuOpening .navToggle_icon:after
{
    width: 100%;

    -webkit-transform-origin: 25% 25%;
            transform-origin: 25% 25%;
}
.menuOpening .navToggle_icon:before
{
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
}
.menuOpening .navToggle_icon:after
{
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

body.menuOpening
{
    position: relative;
}
body.menuOpening .overlay
{
    position: fixed; 
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
body.menuOpening .overlay_close_icon:after,
body.menuOpening .overlay_close_icon:before
{
    transition: all .5s cubic-bezier(.785, .135, .15, .86) 0s;
}
body.menuOpening .overlay
{
    z-index: 2; 

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, .8);
}
body.menuOpening .overlay_close
{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;

    cursor: pointer;
    text-align: center;

    color: #fff;
    background-color: rgba(0, 0, 0, .2);
}
body.menuOpening .overlay_close_icon
{
    position: relative;

    display: inline-block;

    width: 1.4em;
    height: 1.4em;
    margin-right: .5em;

    vertical-align: middle;
}
body.menuOpening .overlay_close_icon:before,
body.menuOpening .overlay_close_icon:after
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: block; 

    width: 100%;
    height: 2px;
    margin: auto;

    content: ' ';
    -webkit-transform-origin: 53% 50%;
            transform-origin: 53% 50%;

    background-color: #fff;
}
body.menuOpening .overlay_close_icon:before
{
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
}
body.menuOpening .overlay_close_icon:after
{
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
}

.button-def a,
.button-nav a,
.button-form
{
    font-size: 1.35em;

    padding-top: .5em;
    padding-bottom: .5em;

    transition-duration: .3s;

    color: #003640;
    border: none;
    background-color: #fefefe; 
    box-shadow: 0 0 5px rgba(0, 0, 0, .05);
}

.button
{
    line-height: 1;

    display: inline-block;
}
.button a
{
    position: relative; 

    display: block;

    width: 150px;
}
.button,
.button a
{
    transition: all .3s cubic-bezier(.785, .135, .15, .86) 0s;
}

.button-def,
.button-nav
{
    transition: all .5s ease 0s;
}
.button-def a:before,
.button-nav a:before
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: block;

    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: auto;

    content: ' ';
    transition: all .2s ease-in 0s; 

    border: solid 1px #fff;
}
.button-def:hover a,
.button-nav:hover a,
.button-def:active a,
.button-nav:active a,
.button-def:focus a,
.button-nav:focus a
{
    -webkit-transform: scale(.95);
            transform: scale(.95);
}
.button-def:hover a:before,
.button-nav:hover a:before,
.button-def:hover a:after,
.button-nav:hover a:after,
.button-def:active a:before,
.button-nav:active a:before,
.button-def:active a:after,
.button-nav:active a:after,
.button-def:focus a:before,
.button-nav:focus a:before,
.button-def:focus a:after,
.button-nav:focus a:after
{
    -webkit-transform: scale(1.5);
            transform: scale(1.5);

    opacity: 0;
}

.button-nav a
{
    font-size: 1em; 

    width: 105px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.button-form
{
    position: relative;

    width: 150px;

    transition: all .5s ease 0s; 

    border: none;
}
.button-form:before
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: block;

    width: 0;
    height: 0;
    margin: auto;

    content: ' ';
    transition: all .3s ease-in 0s; 

    border-radius: 100%;
}
.button-form:hover,
.button-form:active,
.button-form:focus
{
    color: #fff;
    background-color: #003640;
}
.button-form:hover:before,
.button-form:active:before,
.button-form:focus:before
{
    width: 300px;
    height: 300px;

    opacity: 0;
}

.fixedSns
{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;

    width: 1em;
    height: 100%;

    text-align: center;
        -ms-writing-mode: tb-lr;

    -webkit-writing-mode: vertical-lr;
            writing-mode: vertical-lr;
}
.fixedSns .fixedSns_sns,
.fixedSns .fixedSns_index
{
    line-height: 1;

    display: inline-block; 

    vertical-align: middle;
}
.fixedSns .fixedSns_index
{
    margin-bottom: 10px; 
    margin-left: .5em;
}
.fixedSns .mySns li:not(:last-child)
{
    margin-right: 0;
    margin-bottom: 1px;
}

.mySns
{
    line-height: 1;

    margin: 0;
    padding: 0;

    list-style: none;

    text-align: center;
}
.mySns li
{
    display: inline-block;
}
.mySns li [class*='icon']:before
{
    transition: all .3s cubic-bezier(.785, .135, .15, .86) 0s;
}
.mySns li .icon-twitter
{
    transition: all .5s ease 0s;
}
.mySns li .icon-twitter:hover:before,
.mySns li .icon-twitter:active:before,
.mySns li .icon-twitter:focus:before
{
    color: #55acee;
}
.mySns li .icon-instagram
{
    transition: all .5s ease 0s;
}
.mySns li .icon-instagram:hover:before,
.mySns li .icon-instagram:active:before,
.mySns li .icon-instagram:focus:before
{
    color: pink;
}
.mySns li a
{
    color: inherit;
}
.mySns li:not(:last-child)
{
    margin-right: 20px;
}

.backToTop
{
    line-height: 1;

    position: fixed;
    z-index: 99;
    right: 10px;
    bottom: 0;

    display: none;

    width: 50px;
    height: 50px;
    margin: 0;
    padding: 0;

    cursor: pointer;
    transition: -webkit-transform .5s;
    transition:         transform .5s;
    transition:         transform .5s, -webkit-transform .5s; 

    background-color: #0eff9e;
}
.backToTop i
{
    position: absolute;
    top: 25%;
    right: 0;
    bottom: 0;
    left: 0;

    display: block;
    display: block;

    width: 30%;
    height: 30%;
    margin: auto;

    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);

    border-top: solid 1px #fff;
    border-right: solid 1px #fff;
}
.backToTop.moving
{
    -webkit-transform: perspective(500) rotate3d(50, 1000, 500, 360deg);
            transform: perspective(500) rotate3d(50, 1000, 500, 360deg);
}

.hello
{
    overflow: hidden; 

    width: 100%;
    height: 100%;
}

.helloAfter .myIntroduction
{
    opacity: 0;
}

.myIntroduction
{
    position: fixed;
    z-index: 99;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    width: 100%;
    height: 100%;
    margin: auto;

    color: #3a3a3a;
    background-color: #fff; 

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    will-change: filter, opacity;
}
.noHello .myIntroduction
{
    display: none;
}
.myIntroduction [class*='text-']
{
    transition: all 1s ease .05s; 
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);

    opacity: 0;

    will-change: opacity,transform;
}
.myIntroduction .text-3
{
    transition-delay: 2.4s;
}
.myIntroduction .text-4
{
    transition-delay: 3.1s;
}
.myIntroduction .text-5
{
    transition-delay: 3.8s;
}
.myIntroduction .text-6
{
    transition-delay: 4.5s;
}
.myIntroduction .text-1
{
    transition-delay: .3s;
}
.myIntroduction .text-2
{
    transition-delay: .45s;
}
.myIntroduction .text-7
{
    transition-delay: 6s;
}
.myIntroduction_index
{
    line-height: 1;

    max-width: 332px;
    margin-right: auto;
    margin-left: auto;

    text-align: center;

    -webkit-font-feature-settings: 'palt';
            font-feature-settings: 'palt';
}
.myIntroduction_index .indexHello
{
    font-size: 8em; 

    margin-top: 0;
    margin-bottom: 0;
}
.usefirefox .myIntroduction_index .indexHello
{
    font-size: 3.5em;
}
.myIntroduction_index svg
{
    overflow: visible; 

    max-width: 332px;
}
.myIntroduction_index .indexMyname
{
    font-size: 3.5em;

    margin-top: 0;
    margin-bottom: .45em;

    color: #003640;
}
.myIntroduction_content
{
    font-size: .9em;
    font-weight: 200;

    text-align: center;
    letter-spacing: .05em;

    -webkit-font-feature-settings: 'palt';
            font-feature-settings: 'palt';
}
.letsTalk .myIntroduction
{
    background-color: #f9f9f9;
}
.letsTalk .myIntroduction [class*='text-']
{
    -webkit-transform: translateY(0px) scale(1);
            transform: translateY(0px) scale(1); 

    opacity: 1;
}

@media screen and (max-width: 580px)
{
    body.headerFix
    {
        padding-top: 45px;
    }
    body.headerFix .header
    {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
    }
}

.hasColumn
{
    overflow: hidden;
}
.hasColumn-1
{
    max-width: 100%;
    margin-right: auto; 
    margin-left: auto;
}
.hasColumn-1:after
{
    display: block;
    clear: both; 

    content: ' ';
}
.hasColumn-1 .hasColumn_child
{
    float: left; 

    width: 6.77966%;
}
.hasColumn-1 .hasColumn_child:nth-child(12n + 1)
{
    clear: both;

    margin-right: -100%;
    margin-left: 0;
    margin-left: 0;
}
.hasColumn-1 .hasColumn_child:nth-child(12n + 2)
{
    clear: none; 

    margin-right: -100%;
    margin-left: 8.47458%;
}
.hasColumn-1 .hasColumn_child:nth-child(12n + 3)
{
    clear: none; 

    margin-right: -100%;
    margin-left: 16.94915%;
}
.hasColumn-1 .hasColumn_child:nth-child(12n + 4)
{
    clear: none; 

    margin-right: -100%;
    margin-left: 25.42373%;
}
.hasColumn-1 .hasColumn_child:nth-child(12n + 5)
{
    clear: none; 

    margin-right: -100%;
    margin-left: 33.89831%;
}
.hasColumn-1 .hasColumn_child:nth-child(12n + 6)
{
    clear: none; 

    margin-right: -100%;
    margin-left: 42.37288%;
}
.hasColumn-1 .hasColumn_child:nth-child(12n + 7)
{
    clear: none; 

    margin-right: -100%;
    margin-left: 50.84746%;
}
.hasColumn-1 .hasColumn_child:nth-child(12n + 8)
{
    clear: none; 

    margin-right: -100%;
    margin-left: 59.32203%;
}
.hasColumn-1 .hasColumn_child:nth-child(12n + 9)
{
    clear: none; 

    margin-right: -100%;
    margin-left: 67.79661%;
}
.hasColumn-1 .hasColumn_child:nth-child(12n + 10)
{
    clear: none; 

    margin-right: -100%;
    margin-left: 76.27119%;
}
.hasColumn-1 .hasColumn_child:nth-child(12n + 11)
{
    clear: none; 

    margin-right: -100%;
    margin-left: 84.74576%;
}
.hasColumn-1 .hasColumn_child:nth-child(12n + 12)
{
    clear: none; 

    margin-right: -100%;
    margin-left: 93.22034%;
}
.hasColumn-2
{
    max-width: 100%;
    margin-right: auto; 
    margin-left: auto;
}
.hasColumn-2:after
{
    display: block;
    clear: both; 

    content: ' ';
}
.hasColumn-2 .hasColumn_child
{
    float: left; 

    width: 15.25424%;
}
.hasColumn-2 .hasColumn_child:nth-child(6n + 1)
{
    clear: both;

    margin-right: -100%;
    margin-left: 0;
    margin-left: 0;
}
.hasColumn-2 .hasColumn_child:nth-child(6n + 2)
{
    clear: none; 

    margin-right: -100%;
    margin-left: 16.94915%;
}
.hasColumn-2 .hasColumn_child:nth-child(6n + 3)
{
    clear: none; 

    margin-right: -100%;
    margin-left: 33.89831%;
}
.hasColumn-2 .hasColumn_child:nth-child(6n + 4)
{
    clear: none; 

    margin-right: -100%;
    margin-left: 50.84746%;
}
.hasColumn-2 .hasColumn_child:nth-child(6n + 5)
{
    clear: none; 

    margin-right: -100%;
    margin-left: 67.79661%;
}
.hasColumn-2 .hasColumn_child:nth-child(6n + 6)
{
    clear: none; 

    margin-right: -100%;
    margin-left: 84.74576%;
}
.hasColumn-3
{
    max-width: 100%;
    margin-right: auto; 
    margin-left: auto;
}
.hasColumn-3:after
{
    display: block;
    clear: both; 

    content: ' ';
}
.hasColumn-3 .hasColumn_child
{
    float: left; 

    width: 23.72881%;
}
.hasColumn-3 .hasColumn_child:nth-child(4n + 1)
{
    clear: both;

    margin-right: -100%;
    margin-left: 0;
    margin-left: 0;
}
.hasColumn-3 .hasColumn_child:nth-child(4n + 2)
{
    clear: none; 

    margin-right: -100%;
    margin-left: 25.42373%;
}
.hasColumn-3 .hasColumn_child:nth-child(4n + 3)
{
    clear: none; 

    margin-right: -100%;
    margin-left: 50.84746%;
}
.hasColumn-3 .hasColumn_child:nth-child(4n + 4)
{
    clear: none; 

    margin-right: -100%;
    margin-left: 76.27119%;
}
.hasColumn-4
{
    max-width: 100%;
    margin-right: auto; 
    margin-left: auto;
}
.hasColumn-4:after
{
    display: block;
    clear: both; 

    content: ' ';
}
.hasColumn-4 .hasColumn_child
{
    float: left; 

    width: 32.20339%;
}
.hasColumn-4 .hasColumn_child:nth-child(3n + 1)
{
    clear: both;

    margin-right: -100%;
    margin-left: 0;
    margin-left: 0;
}
.hasColumn-4 .hasColumn_child:nth-child(3n + 2)
{
    clear: none; 

    margin-right: -100%;
    margin-left: 33.89831%;
}
.hasColumn-4 .hasColumn_child:nth-child(3n + 3)
{
    clear: none; 

    margin-right: -100%;
    margin-left: 67.79661%;
}
.hasColumn-5
{
    max-width: 100%;
    margin-right: auto; 
    margin-left: auto;
}
.hasColumn-5:after
{
    display: block;
    clear: both; 

    content: ' ';
}
.hasColumn-5 .hasColumn_child
{
    float: left; 

    width: 40.67797%;
}
.hasColumn-5 .hasColumn_child:nth-child(2n + 1)
{
    clear: both;

    margin-right: -100%;
    margin-left: 0;
    margin-left: 0;
}
.hasColumn-5 .hasColumn_child:nth-child(2n + 2)
{
    clear: none; 

    margin-right: -100%;
    margin-left: 42.37288%;
}
.hasColumn-6
{
    max-width: 100%;
    margin-right: auto; 
    margin-left: auto;
}
.hasColumn-6:after
{
    display: block;
    clear: both; 

    content: ' ';
}
.hasColumn-6 .hasColumn_child
{
    float: left; 

    width: 49.15254%;
}
.hasColumn-6 .hasColumn_child:nth-child(2n + 1)
{
    clear: both;

    margin-right: -100%;
    margin-left: 0;
    margin-left: 0;
}
.hasColumn-6 .hasColumn_child:nth-child(2n + 2)
{
    clear: none; 

    margin-right: -100%;
    margin-left: 50.84746%;
}
