@charset "utf-8";

//////////////////////////////////////////////////

// top

//////////////////////////////////////////////////

@import "compass";
@import "../../common/scss/colors";
@import "../../common/scss/variables";
@import "../../common/scss/mixins";



/***********************
 module
***********************/


.main .section{
	text-align: center;
		/**
		* dashed
		*/
		&:not( :last-child ):after{
			content: " ";
			width: 2px;
			height: 50px;
			margin-top: 50px;
			margin-right: auto;
			margin-bottom: 50px;
			margin-left: auto;
			display: block;
			transition: easeInOutCirc(1s);
			transition-delay: 1s;
			background-image: linear-gradient(to bottom, transparent, transparent 50%, #fff 50%, #fff 100%), linear-gradient(to bottom, $green, $blue);
			background-size: 3px 10px, 3px 100%;		
			
			@include break( sp ){
				margin-bottom: 1px;
			}		
		}

		@at-root &.inview:not( :last-child ):after{
			height: 50px;
		}

		.wrap{
			max-width: 680px;
			box-sizing: content-box;
		}

		&_index{
			line-height: 1;
			margin-bottom: 45px;
			font-size: 4.66em;
			
			svg{
				font-family: $fontFamily_wf_bold;
			}
		
			@include break( sp ){
				font-size: 6em;
				margin-bottom: 30px;
				// font-size: 4.5em;
			}
		}

		&_content{
			line-height: 2;
			display: inline-block;
			text-align: left;			
			letter-spacing: 0.06em;
			font-size: 0.933em;
			
			@include break( sp ){
				font-size: 1em;
			}		
		}

		p{
			&:first-child{
				margin-top: 0;
			}
			&:last-child{
				margin-bottom: 0;
			}
		}	
}



/***********************
 mainvisual
***********************/

/********** mainvisual **********/
.pagevisual
{

	.wrap{
		max-width: none;
	}

	&_img{
		width: 435px;
		opacity: 0.45;
		position: absolute;
		z-index: 0;
		right: 5%;
		left: auto;
		bottom: 0;
		mix-blend-mode: hard-light;
		
		@include break( sp ){
			width: auto;
			height: 90%;
			right: auto;
			left: auto;
			// left: -2%;
			// right: -25%;
		}			
	}
	//////// scroll down
	
	.icon-mouse{
		bottom: 5%;
		position: absolute;
		right: 0;
		left: 0;
		z-index: 3;
	}
}

