@charset "utf-8";

//////////////////////////////////////////////////

// works

//////////////////////////////////////////////////


/***********************
 module
***********************/

.works
{
	
	.worksArchive
	{
		max-width: 90%;
		margin-left: auto;
		margin-right: auto;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;	
	}

	.work
	{
		width: percentage( 375 / 1230 );
		margin-bottom: 20px;
		
		@include mouseOver(){

			img{
				opacity: 0.75;
				-webkit-mix-blend-mode: multiply;
				mix-blend-mode: multiply;
			}			

			.work_info{
				// box-shadow: none;
				// top: -18px;
				// background-color: #fdfdfd;
				
				
				&:before{
					width: 100%;
					// margin: auto;
					// top: 0;
					// right: 0;
					left: 0%;
					// bottom: -50%;
				}

				// &_type,
				// &_category,
				// &_category li:not( :last-child ):after,
				// a{
				// 	color: #fff;
				// }
			}
		}	
		
		@include break( sp ){
			width: 48%;
		}
		
		&_img
		{
			width: 100%;
			height: 0;
			padding-top: percentage( 613 / 752 );
			position: relative;
			border: solid 1px #aaa;
			box-sizing: border-box;
			@extend %gradation;
			background-size: cover;
			background-position: center top;
			background-repeat: no-repeat;
			overflow: hidden;
			
			img{
				width: 100%;
				height: auto;
				backface-visibility: hidden;
				position: absolute;
				top: 0;
				right: 0;
				left: 0;
			}

		}
		&_info{
			width: percentage( 320 / 375 );
			margin-left: -20px;
			padding: 20px;
			line-height: 1;
			overflow: hidden;
			transition: transition(0.05s);
			box-shadow: 0 0 10px rgba(#000,0.05), 0 6px 5px -5px rgba(#000,0.01);
			position: relative;
			top: -20px;
			background-color: #fff;
			
			&:before{
				content: " ";
				display: block;
				width: 0%;
				height: 3px;
				position: absolute;
				z-index: 0;
				transition: transition(0.3s);
				
				top: auto;
				right: auto;
				bottom: 0%;
				left: -10%;
				transform: skew( 15deg );
				background-color: $green_black;
			}
			
			@include break( sp ){
				padding: 10px;
				margin-left: -10px;
				top: -10px;
			}
			
			a{
				color : inherit;
				transition: transition(0.3s);
			}
			
			&_type{
				margin-bottom: 15px;
				position: relative;
				z-index: 1;
				transition: transition(0.3s);
				
				font-weight: lighter;
				font-family: $fontFamily_wf_light;
				color: $green_deep;
				font-size: 1.45em;
				
				@include break( sp ){
					margin-bottom: 10px;
				}			
			}

			&_category
			{
				position: relative;
				z-index: 1;
				padding-left: 1.2em;
				transition: transition(0.3s);
				

				@include iconfont(
		        $content: '\f0c1' ,
		        $icon-margin-right: -4px,
		        $font-size : 0.8em,
		        $top: 0 );
		        
		        &:before{
		        	text-indent: -1.2em;
		        }
	        
				li{
					color: #4d4d4d;
					font-family: $fontFamily_wf_light;
					display: inline-block;
					transition: transition(0.3s);
					
					
					&:not( :last-child ){
						&:after{
							content: "/";
							margin: 0 2px;
							display: inline-block;
							transition: transition(0.3s);
							
							vertical-align: middle;
							opacity: 0.5;
						}
					}
				}
			}
		}	
	}


	/***********************
	 mainvisual
	***********************/

	/********** mainvisual **********/
	.pagevisual
	{

		.wrap{
			// max-width: none;
			position: static;
		}

		&_img{
			width: auto;
			height: 100%;
			opacity: 0.45;
			position: absolute;
			z-index: 0;
			right: 15%;
			left: auto;
			bottom: 0;
			mix-blend-mode: hard-light;
			
			@include break( 1366 ){
				width: 606px;
				height: auto;
			}
			
			@include break( sp ){
				width: auto;
				height: 90%;
				right: auto;
				left: auto;
				// left: -2%;
				// right: -25%;
			}			
		}
		//////// scroll down
		
		.icon-mouse{
			bottom: 5%;
			position: absolute;
			right: 0;
			left: 0;
			z-index: 3;
		}

		@include break( sp ){
			&.hasGradation + .main{
				padding-top: 40px;
			}
		}
	}
}




/**********************************************

 child page

**********************************************/

.single-works
{


/***********************
 module
***********************/

.section{


}	

.relatedLink{
	margin-top: 50px;
	margin-bottom: 50px;
	
	@include break( sp ){
		margin-top: 25px;
		margin-bottom: 25px;
	}
}



/***********************
 style
***********************/

.section-intro{
	// margin-top: 80px;
	margin-bottom: 100px;
	
	@include break( sp ){
		margin-bottom: 50px;
	}
}


.section-screenshots
{
	.wrap{
		// display: flex;
		// justify-content: space-between;
		// flex-wrap: wrap;
		overflow: hidden;
		
		@include clearfix();
	}

	img{
		max-width: 75%;
		margin-left: auto;
		margin-right: auto;	
	}

	&.twoColumn {
		img{
			max-width: 47.5%;
			float: left;
			&:nth-child( even ){
				float: right;
			}
		}		
	}
	img{
		margin-bottom: 5%;
		display: inline-block;
		box-shadow: 0 0 15px rgba(#000,0.13), 0 6px 5px -5px rgba(#000,0.3);
		

		@include break( sp ){
			&,
			&:nth-child( even ){
				max-width: 90%;
				margin-left: auto;
				margin-right: auto;
				float: none;
				display: block;
			}
		}
	}
}


.section-related
{

	.wrap{
		@include break( sp ){
			padding-left: 0;
			padding-right: 0;
		}		
	}

	.section_index{
		line-height: 1;
		margin-bottom: 45px;
		font-size: 2.33em;
		
		svg{
			font-family: $fontFamily_wf_bold;
		}
	
		@include break( sp ){
			font-size: 6em;
			margin-bottom: 30px;
			// font-size: 4.5em;
		}
	}

		&_content{
			
			@include break( sp ){
				font-size: 1em;
			}		
		}	
}
}

