<%
   hasGradation = false,
   $scripts = new Array(),
   $scripts_global=new Array();

   $meta = {
      title: 'satohmsys portfolio',
      description: 'ディスクリプション',
      keywords: 'Webデザイン,Webデザイナー,東京,フリーランス,コーディング,ホームページ制作,個人',
      og:{
         title: 'og title',
         sitename: 'og sitenmae',
         description: 'og desc',
         type: 'website',
         image: 'image',
         url: 'og url'
      },
      twitter:{
         title: '',
         description: 'twitter: des',
         image: '',
      }
   }

   $parts = {
      toggle: '<div class="navToggle" data-navtype="fade"><div class="navToggle_hitArea"><div class="navToggle_icon"><i class="navToggle_icon_lineCenter"></i></div></div></div>',
      backtotop: '<div class="backToTop"><i></i></div>',
      fixedsns: '<div class="fixedSns"><div class="fixedSns_index">Share on</div><ul class="mySns fixedSns_sns"><li><a class="mySns_twitter icon-twitter" href=""></a></li><li><a class="mySns_facebook icon-facebook" href=""></a></li></ul></div>'
   }
%>