html,
.section,
.mainvisual,
.section-works .panel
{
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzBlZmY5ZSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwZDhmZCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-image: linear-gradient(to right, #0eff9e, #00d8fd); 
    background-size: 100%;
}

.section_index span
{
    display: inline-block; 

    transition: all .4s cubic-bezier(.175, .885, .32, 1.275) 0s;
    -webkit-transform: translateY(-.18em) scale(1.1);
            transform: translateY(-.18em) scale(1.1);

    opacity: 0;
}
.section_index span:nth-child(1)
{
    transition-delay: .6s;
}
.section_index span:nth-child(2)
{
    transition-delay: .7s;
}
.section_index span:nth-child(3)
{
    transition-delay: .8s;
}
.section_index span:nth-child(4)
{
    transition-delay: .9s;
}
.section_index span:nth-child(5)
{
    transition-delay: 1s;
}
.section_index span:nth-child(6)
{
    transition-delay: 1.1s;
}
.section_index span:nth-child(7)
{
    transition-delay: 1.2s;
}

html
{
    color: #fff;
}

/***********************
 module
***********************/
.section
{
    position: relative;

    overflow: hidden; 

    height: calc( 100vh - 75px );
    min-height: 700px;
    padding-bottom: 75px;
}
@media screen and (max-width: 900px)
{
    .section
    {
        mih-height: 500px;
    }
}
@media screen and (max-width: 580px)
{
    .section
    {
        height: 70vh;
        min-height: 0; 
        padding-bottom: 0;
    }
}
.section .wrap
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: row;

    height: 100%;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
@media screen and (max-width: 580px)
{
    .main .section .wrap
    {
        padding-right: 5%;
        padding-left: 5%;
    }
}
.section_index
{
    font-family: 'woodford ultra';
    font-size: 8.33em; 
    line-height: 1;

    margin-bottom: .5em;

    text-align: center;

    text-shadow: 0 0 5px rgba(0, 0, 0, .05);
}
.section_index,
.section_index span
{
    transition: all .4s cubic-bezier(.68, -.55, .265, 1.55) 0s;
}
.inview .section_index span
{
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);

    opacity: 1;
}
@media screen and (max-width: 580px)
{
    .section_index
    {
        font-size: 4.5em;
    }
}
.section_article
{
    position: relative;
    z-index: 1; 

    width: 90%;
    max-width: 500px;
    margin-right: auto;
    margin-left: auto;
}
.section_content
{
    padding-right: 2em;
    padding-left: 2em;

    text-shadow: 0 0 5px rgba(0, 0, 0, .1);
}
.section_bg
{
    position: absolute;
    z-index: 0;

    mix-blend-mode: hard-light;
}
.section_footer
{
    margin-top: 55px;

    text-align: center;
}

/***********************
 mainvisual
***********************/
/********** mainvisual **********/
.mainvisual
{
    position: relative; 

    overflow: hidden;
}
.mainvisual .wrap
{
    position: relative;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: row;

    height: 100vh;
    min-height: 760px;

    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
@media screen and (max-width: 580px)
{
    .mainvisual .wrap
    {
        min-height: 0;
    }
}
.mainvisual_copy
{
    font-size: 10em; 

    position: relative;
    z-index: 1;
}
@media screen and (max-width: 580px)
{
    .mainvisual_copy
    {
        font-size: 23vw;
    }
}
.mainvisual_copy span
{
    display: block;
}
.mainvisual_copy_sup
{
    font-family: 'woodford exlight'; 
    font-size: .1375em;
    font-style: italic;

    text-shadow: 0 0 5px rgba(0, 0, 0, .35);
}
.mainvisual_copy_sup span
{
    line-height: 1;

    position: relative; 

    display: inline-block;

    color: #fff;
}
.mainvisual_copy_sup span i
{
    position: relative;
    z-index: 1;
}
.mainvisual_copy_sup span:before
{
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: block;

    width: 0;
    height: 100%;

    content: ' ';
    transition: all .5s cubic-bezier(.785, .135, .15, .86) 0s;
    transition-delay: 1s;

    background-color: #005f70;
}
.introEnd .mainvisual_copy_sup span:before
{
    width: 100%;
}
@media screen and (max-width: 580px)
{
    .mainvisual_copy_sup
    {
        font-size: .14em;
    }
}
.mainvisual_copy_myname
{
    font-family: 'woodford ultra'; 
    line-height: .85;

    text-shadow: 0 0 5px rgba(0, 0, 0, .15);
}
.mainvisual_copy_myname .firstName
{
    font-size: 1.195em;
}
.mainvisual_copy .handWrite
{
    margin-top: -1em;

    text-align: right;
}
.mainvisual_copy .handWrite,
.mainvisual_copy .handWrite svg text
{
    font-family: 'Damion', cursive; 
    line-height: 1;

    color: #003640;
}
.mainvisual_copy .handWrite svg
{
    overflow: visible; 

    width: 510px;
    height: auto;
}
@media screen and (max-width: 580px)
{
    .mainvisual_copy .handWrite svg
    {
        width: 100%;
    }
}
.mainvisual_img
{
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    left: 0;

    width: auto;
    max-width: none;
    height: 100%;
    margin: auto;
    margin-left: -15%;

    opacity: .45;

    mix-blend-mode: hard-light;
}
@media screen and (max-width: 580px)
{
    .mainvisual_img
    {
        top: auto;
        bottom: 0; 

        height: 95%;
        margin-left: -30%;
    }
}
.mainvisual .icon-mouse
{
    position: absolute;
    z-index: 3; 
    right: 0;
    bottom: 5%;
    left: 0;
}

/***********************
 section
***********************/
/********** about **********/
.section-about .section_bg
{
    opacity: .4;
}
.section-about .section_bg-first
{
    top: -5%;
    left: -10%; 

    width: 50%;
}
.section-about .section_bg-last
{
    top: 65.88542%;
    right: 5%; 

    width: 16.47145%;
}
@media screen and (max-width: 580px)
{
    .section-about .section_bg-first
    {
        width: 57.32064%;
    }
    .section-about .section_bg-last
    {
        top: 78.125%; 

        width: 23.79209%;
    }
}

/********** think **********/
.section-think .section_article
{
    margin-top: -10%;
    margin-left: 0;
}
.section-think .section_bg
{
    opacity: .55;
}
.section-think .section_bg-first
{
    right: 10.4%; 
    bottom: -20px;

    width: 39.38507%;
}
@media screen and (max-width: 580px)
{
    .section-think
    {
        padding-bottom: 40px;
    }
    .section-think .section_article
    {
        margin-top: 0;
        margin-left: auto;
    }
    .section-think .section_bg-first
    {
        right: .4%; 
        bottom: -20px;

        width: 46.70571%;
    }
}

/********** works **********/
.section-works
{
    min-height: 550px;
}
.section-works .section_article
{
    margin-top: 5%;
    margin-right: 0;

    -ms-flex-item-align: start;
    align-self: flex-start;
}
@media screen and (max-width: 580px)
{
    .section-works .section_article
    {
        margin-top: 10vh; 
        margin-right: auto;
    }
}
.section-works .section_bg
{
    bottom: 0;
    left: 10%;
}
.section-works .section_bg_skewWrapper
{
    -webkit-transform: translate(30%, 50px) rotate(45deg);
            transform: translate(30%, 50px) rotate(45deg);
}
@media screen and (max-width: 580px)
{
    .section-works .section_bg_skewWrapper
    {
        -webkit-transform: translate(30%) rotate(45deg);
                transform: translate(30%) rotate(45deg);
    }
}
.section-works .section_bg_panels
{
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg); 

    -webkit-transform-style: preserved-3d;
            transform-style: preserved-3d;
    -webkit-perspective: 20px;
            perspective: 20px;
}
.section-works .panel
{
    font-family: 'woodford bold';
    line-height: 1;

    display: inline-table;
    float: left;
    overflow: hidden;

    box-sizing: border-box;
    width: 49.5%;
    height: 0;
    margin: .25%;
    padding-top: 18%;
    padding-bottom: 18%;

    -webkit-transform: translateX(-2em);
            transform: translateX(-2em); 

    opacity: 0;
    color: #fff;
    border: solid 1px #fafafa;
    box-shadow: 5px 5px 0 #fbfbfb, 10px 8px 0 #eaeaea;
}
.section-works .panel,
.section-works .panel_catName
{
    transition: all .75s cubic-bezier(.68, -.55, .265, 1.55) 0s;
}
.section-works .panel_catName
{
    font-size: 2em;

    display: table-cell;

    text-align: center;
    vertical-align: middle;
}
.section-works .panel:nth-child(1)
{
    transition-delay: .1s;
}
.section-works .panel:nth-child(2)
{
    transition-delay: .2s;
}
.section-works .panel:nth-child(3)
{
    transition-delay: .3s;
}
.section-works .panel:nth-child(4)
{
    transition-delay: .4s;
}
.section-works.inview .panel
{
    -webkit-transform: translateX(0);
            transform: translateX(0);

    opacity: 1;
}
@media screen and (max-width: 580px)
{
    .section-works .section_bg
    {
        bottom: 3%;
    }
    .section-works .panel
    {
        padding-top: 12%;
        padding-bottom: 12%;
    }
    .section-works .panel_catName
    {
        font-size: 1.25em;
    }
    .section-works .panel:nth-child(1)
    {
        transition-delay: .5s;
    }
    .section-works .panel:nth-child(2)
    {
        transition-delay: .6s;
    }
    .section-works .panel:nth-child(3)
    {
        transition-delay: .7s;
    }
    .section-works .panel:nth-child(4)
    {
        transition-delay: .8s;
    }
    .section-works .section_bg-first
    {
        bottom: 3%;
    }
}

/********** contact **********/
.section-contact
{
    height: auto;
    min-height: 0;
    padding-bottom: 0;

    background-image: none;
}
.section-contact .wrap
{
    display: block;
}
.section-contact .section_index
{
    font-size: 6.66em;
}
.section-contact .section_caption
{
    margin-bottom: 2em;
}
@media screen and (max-width: 580px)
{
    .section-contact
    {
        padding-top: 60px;
    }
    .siteFooter
    {
        padding-top: 0;
    }
    .section-contact .section_index
    {
        font-size: 7vh;
    }
}
