@charset "utf-8";

//////////////////////////////////////////////////

// top

//////////////////////////////////////////////////

@import "compass";
@import "../../common/scss/colors";
@import "../../common/scss/variables";
@import "../../common/scss/mixins";

%gradation{
	@include background-image( linear-gradient( to right, $green, $blue ) );	
}



/***********************
 module
***********************/

.section{
	

	@include break( sp ){
	}	

	&:not( :last-child ):after{
		content: " ";
		width: 1px;
		height: 50px;
		margin-top: 50px;
		margin-right: auto;
		margin-bottom: 50px;
		margin-left: auto;
		display: block;
		transition: easeInOutCirc(1s);
		border-right: dashed 3px #0dff9e;
		// background-color: #0dff9e;
	}
	
	
	.wrap{
		max-width: 680px;
		box-sizing: content-box;
	}

	&_index{
		line-height: 1;
		margin-bottom: 45px;
		font-size: 4.66em;
		
		svg{
			font-family: $fontFamily_wf_bold;
		}
	
		
		@include break( sp ){
			font-size: 4.5em;
		}


	}

	&_content{
		line-height: 2;
		letter-spacing: 0.06em;
		font-size: 0.933em;
	}
}



/***********************
 mainvisual
***********************/

/********** mainvisual **********/
.pagevisual
{

	.wrap{
		max-width: none;
	}

	&_img{
		opacity: 0.45;
		position: absolute;
		z-index: 0;
		top: 0;
		right: 0;
		left: 0;
		mix-blend-mode: hard-light;
		
		@include break( sp ){
			// width: auto;
			// max-width: none;
			// height: 100%;
		}			
	}
	//////// scroll down
	
	.icon-mouse{
		bottom: 5%;
		position: absolute;
		right: 0;
		left: 0;
		z-index: 3;
	}
}


/***********************
 section
***********************/

/********** hi **********/
.section-hi
{
	&,
	.section_index,
	.section_content{
		position: relative;
		z-index: 1;
	}
	.section_index
	{
		line-height: 1;
		position: relative;
		.handWrite{
			position: absolute;
			top: 0;
			right: 0;
			transform: rotate(5deg);
			font-size: 0.6em;
			font-family: $fontFamily_damion;
		}
	}	

	.section_bg{
		max-width: 518px;
		position: absolute;
		z-index: 0;
		top: -12%;
		right: 0;
	}
}



/********** mind **********/

.section-mind
{
	.mindlist
	{
		margin-top: -50px;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		align-content: flex-start;
		
		&_mind{
			width: calc( 100% / 3 );
			margin-top: 50px;
			list-style: none;
			text-align: center;
		}

		&_icon
		{
			line-height: 1;
			
			figcaption{
				margin-top: 1em;
				margin-bottom: 1em;
				display: block;
				font-size: 1.3em;
				font-family: $fontFamily_wf_exlight;
				font-style: italic;
				color: $green_black;
			}
		}

		&_description{
			font-size: 0.9em;
			font-feature-settings: 'palt';
			letter-spacing: 0.05em;
		}
	}	
}



/********** skill **********/

.section-skill
{

	.section_index{
		margin-bottom: 30px;
	}
	.skill{
			max-width: 410px;
			margin-right: auto;
			margin-bottom: 40px;
			margin-left: auto;
			
			&_index
			{
				line-height: 1;
				margin-bottom: 1.5em;
				position: relative;
				font-size: 1.2em;
				font-family: $fontFamily_damion;
				color: $green_black;
				&,
				i{
					transition: easeInOutCirc(0.5s);		
				}
				
				i{
					width: 95%;
					height: 1px;
					margin: auto;
					display: block;
					position: absolute;
					top: 0;
					bottom: 0;
					left: -100%;
					background-color: $green_black;
				}
			}

		&_content{
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;
		}
		&_content_list{
			display: inline-block;
			
			// &:not( :last-child ){
			// 	margin-right: 30px;
			// }
		}

		&_icon
		{
			line-height: 1;
			img{
				box-sizing: border-box;
				border: solid 1px #ccc;			
			}
			
			figcaption{
				text-align: center;
				margin-top: 1em;
				margin-bottom: 1em;
				display: block;
				font-family: $fontFamily_wf_exlight;
				font-style: italic;
				color: $green_black;
			}
		}		
		
	}
}