@charset "utf-8";

//////////////////////////////////////////////////

// top

//////////////////////////////////////////////////

@import "compass";
@import "../../common/scss/colors";
@import "../../common/scss/variables";
@import "../../common/scss/mixins";

%gradation{
	@include background-image( linear-gradient( to right, $green, $blue ) );	
}



/***********************
 module
***********************/

.section{
	
	@include break( 900 ){
		mih-height: 500px;
	}

	@include break( sp ){
		height: 80vh;
		padding-bottom: 0px;
		min-height: 0;
	}	
	
	
	.wrap{
		
	}

	&_index{
	
		
		&,
		span{
			transition: easeInOutBack($s : 0.4s, $prop : all);		
		}
	
		span{
			transform: translateY( -0.18em ) scale(1.1);
			opacity: 0;
			display: inline-block;
	
			@for $i from 1 through 7 {
				&:nth-child( #{$i} ){
					$delay: 0.1 * $i;
					transition-delay: #{0.5 + $delay}s;
				}
			}
		}

		@at-root .inview & span{
			transform: translateY( 0 ) scale( 1 );
			opacity: 1;			
		}

		@include break( sp ){
			font-size: 4.5em;
		}


	}

	&_content{
		padding-left: 2em;
		padding-right: 2em;
	}


	&_bg
	{
		position: absolute;
		z-index: 0;
		mix-blend-mode: hard-light;
	}

}



/***********************
 mainvisual
***********************/

/********** mainvisual **********/
.pagevisual
{

	.wrap{
		max-width: none;
	}

	&_img{
		opacity: 0.45;
		position: absolute;
		z-index: 0;
		top: 0;
		right: 0;
		left: 0;
		mix-blend-mode: hard-light;
		
		@include break( sp ){
			height: 95%;
			top: auto;
			bottom: 0;
		}			
	}
	//////// scroll down
	
	.icon-mouse{
		bottom: 5%;
		position: absolute;
		right: 0;
		left: 0;
		z-index: 3;
	}
}


/***********************
 section
***********************/

/********** about **********/


